<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <script th:src="@{/js/exercise/exercise.js}"></script>
    <title>운동</title>
</head>
<body>
<input type="hidden" id="exercise-history-get-action" th:attr="value=@{/exercise-all-history}">
<div th:replace="header :: #header"></div>
<div id="body">
    <!-- TODO: 보호자일 경우 immutable 하도록 -->
    <form id="exercise-form" th:action="@{/exercise}" onsubmit="return onFormSubmission(this);">
        <div>Exercise record input</div>
        <div id="date">
            <p>Input Hour
                <input type="text"  value='0'  name="hour"></p>
            <p>Input Minute
                <input type="text"  value='0'  name="minute"></p>
        </div>
        <input type="submit" value="Save >.<">
    </form>
    <div>
        <button id="exerciseRecord" type="button" onclick="showHistory();">운동기록</button>
    </div>
</div>
</body>
</html>
