<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>위더스</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no">
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <link th:href="@{/css/layout.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/goal/goal.js}"></script>
    <script th:src="@{/js/help.js}"></script>
    <script th:src="@{/js/durationTime.js}"></script>
    <script src="https://kit.fontawesome.com/e381c8a508.js" crossorigin="anonymous"></script>

</head>
<body>

<input type="hidden" id="button-count" th:if="${type} == ${T(withus.entity.User.Type).PATIENT} and ${week} != 25"
       th:attr="value=@{/patient-detail-button-count}">
<input type="hidden" id="button-count" th:if="${type} == ${T(withus.entity.User.Type).CAREGIVER} and ${week} != 25"
       th:attr="value=@{/caregiver-detail-button-count}">

<div th:if="${type} == ${T(withus.entity.User.Type).PATIENT} and ${week} != 25">
    <input type='hidden' name="symptom" th:value="${mainCount.symptom}" style="display:none">
    <input type='hidden' name="medicine" th:value="${mainCount.medicine}" style="display:none">
    <input type='hidden' name="mindHealth" th:value="${mainCount.mindHealth}" style="display:none">
    <input type='hidden' name="board" th:value="${mainCount.board}" style="display:none">
    <input type='hidden' name="alarm" th:value="${mainCount.alarm}" style="display:none">
    <input type='hidden' name="bloodPressure" th:value="${mainCount.bloodPressure}" style="display:none">
    <input type='hidden' name="diseaseInfo" th:value="${mainCount.diseaseInfo}" style="display:none">
    <input type='hidden' name="exercise" th:value="${mainCount.exercise}" style="display:none">
    <input type='hidden' name="goal" th:value="${mainCount.goal}" style="display:none">
    <input type='hidden' name="helper" th:value="${mainCount.helper}" style="display:none">
    <input type='hidden' name="level" th:value="${mainCount.level}" style="display:none">
    <input type='hidden' name="natriumMoisture" th:value="${mainCount.natriumMoisture}" style="display:none">
    <input type='hidden' name="weight" th:value="${mainCount.weight}" style="display:none">
    <input type='hidden' name="withusRang" th:value="${mainCount.withusRang}" style="display:none">
    <input type='hidden' name="infoEdit" th:value="${mainCount.infoEdit}" style="display:none">
    <input type='hidden' name="board" th:value="${mainCount.board}" style="display:none">

    <input type='hidden' name="recommendDiet" th:value="${detailCount.recommendDiet}" style="display:none">
    <input type='hidden' name="meditation" th:value="${detailCount.meditation}" style="display:none">
    <input type='hidden' name="bodyActivity" th:value="${detailCount.bodyActivity}" style="display:none">
    <input type='hidden' name="deepBreath" th:value="${detailCount.deepBreath}" style="display:none">
    <input type='hidden' name="consulting" th:value="${detailCount.consulting}" style="display:none">
    <input type='hidden' name="medicineAlarm" th:value="${detailCount.medicineAlarm}" style="display:none">
    <input type='hidden' name="bloodPressureAlarm" th:value="${detailCount.bloodPressureAlarm}" style="display:none">
    <input type='hidden' name="exerciseAlarm" th:value="${detailCount.exerciseAlarm}" style="display:none">
    <input type='hidden' name="symptomAlarm" th:value="${detailCount.symptomAlarm}" style="display:none">
    <input type='hidden' name="natriumMoistureAlarm" th:value="${detailCount.natriumMoistureAlarm}" style="display:none">
    <input type='hidden' name="waterIntakeAlarm" th:value="${detailCount.waterIntakeAlarm}" style="display:none">
    <input type='hidden' name="weightAlarm" th:value="${detailCount.weightAlarm}" style="display:none">
    <input type='hidden' name="mindScoreAlarm" th:value="${detailCount.mindScoreAlarm}" style="display:none">
</div>
<div th:if="${type} == ${T(withus.entity.User.Type).CAREGIVER} and ${week} != 25">
    <input type='hidden' name="goal" th:value="${mainCount.goal}" style="display:none">
    <input type='hidden' name="level" th:value="${mainCount.level}" style="display:none">
    <input type='hidden' name="withusRang" th:value="${mainCount.withusRang}" style="display:none">
    <input type='hidden' name="diseaseInfo" th:value="${mainCount.diseaseInfo}" style="display:none">
    <input type='hidden' name="helper" th:value="${mainCount.helper}" style="display:none">
    <input type='hidden' name="medicine" th:value="${mainCount.medicine}" style="display:none">
    <input type='hidden' name="bloodPressure" th:value="${mainCount.bloodPressure}" style="display:none">
    <input type='hidden' name="exercise" th:value="${mainCount.exercise}" style="display:none">
    <input type='hidden' name="familyObservation" th:value="${mainCount.familyObservation}" style="display:none">
    <input type='hidden' name="dietManagement" th:value="${mainCount.dietManagement}" style="display:none">
    <input type='hidden' name="weight" th:value="${mainCount.weight}" style="display:none">
    <input type='hidden' name="mindHealth" th:value="${mainCount.mindHealth}" style="display:none">
    <input type='hidden' name="alarm" th:value="${mainCount.alarm}" style="display:none">
    <input type='hidden' name="board" th:value="${mainCount.board}" style="display:none">
    <input type='hidden' name="infoEdit" th:value="${mainCount.infoEdit}" style="display:none">

    <input type='hidden' name="recommendDiet" th:value="${detailCount.recommendDiet}" style="display:none">
    <input type='hidden' name="meditation" th:value="${detailCount.meditation}" style="display:none">
    <input type='hidden' name="bodyActivity" th:value="${detailCount.bodyActivity}" style="display:none">
    <input type='hidden' name="deepBreath" th:value="${detailCount.deepBreath}" style="display:none">
    <input type='hidden' name="consulting" th:value="${detailCount.consulting}" style="display:none">
    <input type='hidden' name="medicineAlarm" th:value="${detailCount.medicineAlarm}" style="display:none">
    <input type='hidden' name="bloodPressureAlarm" th:value="${detailCount.bloodPressureAlarm}" style="display:none">
    <input type='hidden' name="exerciseAlarm" th:value="${detailCount.exerciseAlarm}" style="display:none">
    <input type='hidden' name="symptomAlarm" th:value="${detailCount.symptomAlarm}" style="display:none">
    <input type='hidden' name="natriumMoistureAlarm" th:value="${detailCount.natriumMoistureAlarm}" style="display:none">
    <input type='hidden' name="lewaterIntakeAlarmvel" th:value="${detailCount.waterIntakeAlarm}" style="display:none">
    <input type='hidden' name="weightAlarm" th:value="${detailCount.weightAlarm}" style="display:none">
    <input type='hidden' name="mindDiaryAlarm" th:value="${detailCount.mindDiaryAlarm}" style="display:none">
    <input type='hidden' name="mindScoreAlarm" th:value="${detailCount.mindScoreAlarm}" style="display:none">
</div>

<div id="wrap" class="list-page">
    <header>
        <div class="header-wrap type02" th:if="${type} == ${T(withus.entity.User.Type).PATIENT} and ${week} != 25 ">
            <div class="head">
                <div onclick="helperRequest()" >
                    <a class="btn xsm type07" href="tel:010-8454-9186" onclick="addHelper()">
                        <span class="ico-call" ></span>
                        <span class="txt-rt">도우미</span>
                    </a>
                </div>
                <h2>
                    <span>마음 관리</span>
                </h2>
                <div class="col text-end" style="font-size: 20px; margin-top: 0.73vh;">
                    <a th:href="@{/center}" class="align-middle"><i class="fa-solid fa-house fa-xl" style="color: #FFFFFF;"></i></a>
                </div>
            </div>
            <div class="header-wrap type02" th:if="${type} == ${T(withus.entity.User.Type).CAREGIVER} or ${week} == 25">
                <div class="head">
                    <div onclick="helperRequest()" >
                        <a class="btn xsm type07" href="tel:010-8454-9186">
                            <span class="ico-call" ></span>
                            <span class="txt-rt">도우미</span>
                        </a>
                    </div>
                    <h2>마음 관리
                    </h2>
                    <div class="col text-end" style="font-size: 20px; margin-top: 0.73vh;">
                        <a th:href="@{/center}" class="align-middle"><i class="fa-solid fa-house fa-xl" style="color: #FFFFFF;"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="container" id="content">
        <div class="cont-wrap">

            <a href="#" class="list-card" th:href="@{/meditation}">
                <img src="images/mindHealth/명상.png" style="width:40%;">
                <span class="btn xxlg arrow-type01">명상</span>
            </a>

            <a href="#" class="list-card" th:href="@{/physicalActivity}">
                    <img src="images/mindHealth/신체활동.png" style="width:40%;">
                <span class="btn xxlg arrow-type01">신체활동</span>
            </a>


            <a href="#" class="list-card" th:href="@{/breath}">
                    <img src="images/mindHealth/심호흡.png" style="width:40%;">
                <span class="btn xxlg arrow-type01">심호흡</span>
            </a>

            <a href="#" class="list-card" onclick="helpPopup()">
                <img src="images/mindHealth/상담.png" style="width:40%;" >
                <span class="btn xxlg arrow-type01">상담</span>
            </a>
            <script>
                function helpPopup() {
                    $("#layerSelectType").show();
                    $("#dim").show();


                    var Item2;
                    Item2 = "<span> 위더스 도우미에게</br>전화를 연결할까요?</span>"
                    $('#popUp2').append(Item2);

                    $("#buttonNo").click(function () {
                        $("#layerSelectType").hide();
                        $("#dim").hide();

                        $('#popUp2').empty();
                        return false;
                    });

                    $("#buttonOk").click(function () {
                        $("#layerSelectType").hide();
                        $("#dim").hide();
                        helperRequest();
                        $('#popUp2').empty();
                        return false;
                    });


                }


            </script>


        </div>
    </div>


    <div class="popup pop-type01" id="layerSelectType" style="display: none">
        <div class="pop-wrap">
            <!-- <a href="javascript:void(0);" class="pop-close"></a> -->
            <div class="popup-header2" ></div>
<!--            <div class="icon-call" style="background-image: url('/images/icon-call.png'); background-repeat: no-repeat;">-->
            <div class="popup-body">
                <!--                <div class="pop-tit" id="popUp1">-->
                <!--                </div>-->
                <div class="pop-cont" id="popUp2">
                </div>
                <!--                <div class="pop-desc">목표를 변경하고 싶으면 ‘수정’ 버튼을 눌러주세요.</div>-->
            </div>
            <div class="btn-wrap grid2">
                <button class="btn xlg type07" id="buttonNo">취소</button>
                <button class="btn xlg type02" id="buttonOk">확인</button>
            </div>
        </div>
    </div>
    <div class="dim-layer" style="display: none" id="dim"></div>


</div>
</body>
<script>
    start("MIND_HEALTH");
</script>
</html>