<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>위더스</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>

    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <link th:href="@{/css/layout.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/help.js}"></script>
    <script th:src="@{/js/input_limit.js}"></script>
    <script th:src="@{/js/subButton.js}"></script>
    <script th:src="@{/js/detailButton.js}"></script>
    <script th:src="@{/js/mindHealth/minddiary.js}"></script>
    <script th:src="@{/js/durationTime.js}"></script>
    <script src="https://kit.fontawesome.com/e381c8a508.js" crossorigin="anonymous"></script>
</head>
<body>
<input type="hidden" id="button-count" th:if="${type} == ${T(withus.entity.User.Type).PATIENT} and ${week} != 25"
       th:attr="value=@{/patient-main-button-count}">
<input type="hidden" id="button-count" th:if="${type} == ${T(withus.entity.User.Type).CAREGIVER} and ${week} != 25"
       th:attr="value=@{/caregiver-main-button-count}">
<input type="hidden" id="helper-request" th:attr="value=@{/helper-request}">
<input type="hidden" id="mindhealth-history-get-action" th:attr="value=@{/mindhealth-all-history}">


<div th:if="${type} == ${T(withus.entity.User.Type).PATIENT} and ${week} != 25">
    <input type='hidden' name="symptom" th:value="${mainCount.symptom}" style="display:none">
    <input type='hidden' name="medicine" th:value="${mainCount.medicine}" style="display:none">
    <input type='hidden' name="mindHealth" th:value="${mainCount.mindHealth}" style="display:none">
    <input type='hidden' name="board" th:value="${mainCount.board}" style="display:none">
    <input type='hidden' name="alarm" th:value="${mainCount.alarm}" style="display:none">
    <input type='hidden' name="bloodPressure" th:value="${mainCount.bloodPressure}" style="display:none">
    <input type='hidden' name="diseaseInfo" th:value="${mainCount.diseaseInfo}" style="display:none">
    <input type='hidden' name="exercise" th:value="${mainCount.exercise}" style="display:none">
    <input type='hidden' name="goal" th:value="${mainCount.goal}" style="display:none">
    <input type='hidden' name="helper" th:value="${mainCount.helper}" style="display:none">
    <input type='hidden' name="level" th:value="${mainCount.level}" style="display:none">
    <input type='hidden' name="natriumMoisture" th:value="${mainCount.natriumMoisture}" style="display:none">
    <input type='hidden' name="weight" th:value="${mainCount.weight}" style="display:none">
    <input type='hidden' name="withusRang" th:value="${mainCount.withusRang}" style="display:none">
    <input type='hidden' name="infoEdit" th:value="${mainCount.infoEdit}" style="display:none">

</div>
<div th:if="${type} == ${T(withus.entity.User.Type).CAREGIVER} and ${week} != 25">
    <input type='hidden' name="goal" th:value="${mainCount.goal}" style="display:none">
    <input type='hidden' name="level" th:value="${mainCount.level}" style="display:none">
    <input type='hidden' name="withusRang" th:value="${mainCount.withusRang}" style="display:none">
    <input type='hidden' name="diseaseInfo" th:value="${mainCount.diseaseInfo}" style="display:none">
    <input type='hidden' name="helper" th:value="${mainCount.helper}" style="display:none">
    <input type='hidden' name="medicine" th:value="${mainCount.medicine}" style="display:none">
    <input type='hidden' name="bloodPressure" th:value="${mainCount.bloodPressure}" style="display:none">
    <input type='hidden' name="exercise" th:value="${mainCount.exercise}" style="display:none">
    <input type='hidden' name="familyObservation" th:value="${mainCount.familyObservation}" style="display:none">
    <input type='hidden' name="dietManagement" th:value="${mainCount.dietManagement}" style="display:none">
    <input type='hidden' name="weight" th:value="${mainCount.weight}" style="display:none">
    <input type='hidden' name="mindHealth" th:value="${mainCount.mindHealth}" style="display:none">
    <input type='hidden' name="alarm" th:value="${mainCount.alarm}" style="display:none">
    <input type='hidden' name="board" th:value="${mainCount.board}" style="display:none">
    <input type='hidden' name="infoEdit" th:value="${mainCount.infoEdit}" style="display:none">

</div>

<div class="skip-navi">
    <a href="#content">본문 바로가기</a>
</div>
<!--<div id="wrap" class="minddiary1-page">-->
<header>
    <div class="header-wrap type01">
        <div class="head" th:if="${type} == ${T(withus.entity.User.Type).PATIENT} and ${week} != 25">
            <div onclick="helperRequest()">
                <a class="btn xsm type07" href="tel:010-8454-9186" onclick="addHelper()">
                    <span class="ico-call"></span>
                    <span class="txt-rt">도우미</span>
                </a>
            </div>
            <h2>
                <span>마음일기</span>
            </h2>
            <div class="col text-end" style="font-size: 20px; margin-top: 0.73vh;">
                <a th:href="@{/center}" class="align-middle"><i class="fa-solid fa-house fa-xl"
                                                                style="color: #00b050;"></i></a>
            </div>
        </div>
        <div class="head" th:if="${type} == ${T(withus.entity.User.Type).CAREGIVER} or ${week} == 25">
            <div onclick="helperRequest()">
                <a class="btn xsm type07" href="tel:010-8454-9186">
                    <span class="ico-call"></span>
                    <span class="txt-rt">도우미</span>
                </a>
            </div>
            <h2>
                <span>마음일기</span>
            </h2>
            <div class="col text-end" style="font-size: 20px; margin-top: 0.73vh;">
                <a th:href="@{/center}" class="align-middle"><i class="fa-solid fa-house fa-xl"
                                                                style="color: #00b050;"></i></a>
            </div>

        </div>
    </div>
</header>

<form id="mindHealth-form" th:action="@{/minddiary1}" onsubmit="return onFormSubmission(this);">
<div class="container" id="content">
    <div class="cont-wrap type01">
        <div class="insert-wrap">
            <div style="margin: 3% 3%; padding: 6% 0;">
                  <span style="font-size:23px;line-height:2.1;"><br>
                        마음건강을 위해 오늘 느낀 기분을<br>
                        기록해보세요<br>
                        기록할 내용이 없다면 저장을 눌러주세요.
                  </span>

            </div>
            <div class="daily-box last">
              <textarea type="text" placeholder="내용을 입력하세요." id="myTextarea" name="text" autofocus
                        style="width: 385px; height: 380px; font-size: 15px; border: 0; border-radius: 15px; outline: none; padding-left: 10px; background-color: rgb(233, 233, 233); margin-left:10px; margin-right:10px;"></textarea>
            </div>

            <div class="btn-wrap type03 grid4">
                <button type="submit" class="btn xlg1 type01" id="nextButton">저장(2/2)</button>
            </div>




        </div>
    </div>
</div>

    <footer>
        <div class="footer-wrap">
            <div class="btn-wrap type02">
        <span class="btn xlg arrow-type02" onclick="showHistory();">
          <span>마음 일기 기록</span>
          <span class="ico-arrow2"></span>
        </span>
            </div>
        </div>
    </footer>


</div>
</form>
</body>
<script>
    start("MIND_HEALTH");
</script>
</html>

