<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>위더스</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>

    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <link th:href="@{/css/layout.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/help.js}"></script>
    <script th:src="@{/js/input_limit.js}"></script>
    <script th:src="@{/js/mindHealth/minddiary.js}"></script>
    <script src="https://kit.fontawesome.com/e381c8a508.js" crossorigin="anonymous"></script>
</head>
<body>

<input type="hidden" id="button-count" th:attr="value=@{/button-count}">
<input type="hidden" id="helper-request" th:attr="value=@{/helper-request}">
<div class="skip-navi">
    <a href="#content">본문 바로가기</a>
</div>
<div th:if="${type} == ${T(withus.entity.User.Type).PATIENT} and ${week} != 25">
    <input type='hidden' name="symptom" th:value="${mainCount.symptom}" style="display:none">
    <input type='hidden' name="medicine" th:value="${mainCount.medicine}" style="display:none">
    <input type='hidden' name="mindHealth" th:value="${mainCount.mindHealth}" style="display:none">
    <input type='hidden' name="board" th:value="${mainCount.board}" style="display:none">
    <input type='hidden' name="alarm" th:value="${mainCount.alarm}" style="display:none">
    <input type='hidden' name="bloodPressure" th:value="${mainCount.bloodPressure}" style="display:none">
    <input type='hidden' name="diseaseInfo" th:value="${mainCount.diseaseInfo}" style="display:none">
    <input type='hidden' name="exercise" th:value="${mainCount.exercise}" style="display:none">
    <input type='hidden' name="goal" th:value="${mainCount.goal}" style="display:none">
    <input type='hidden' name="helper" th:value="${mainCount.helper}" style="display:none">
    <input type='hidden' name="level" th:value="${mainCount.level}" style="display:none">
    <input type='hidden' name="natriumMoisture" th:value="${mainCount.natriumMoisture}" style="display:none">
    <input type='hidden' name="weight" th:value="${mainCount.weight}" style="display:none">
    <input type='hidden' name="withusRang" th:value="${mainCount.withusRang}" style="display:none">
    <input type='hidden' name="infoEdit" th:value="${mainCount.infoEdit}" style="display:none">
    <input type='hidden' name="board" th:value="${mainCount.board}" style="display:none">

    <input type='hidden' name="recommendDiet" th:value="${detailCount.recommendDiet}" style="display:none">
    <input type='hidden' name="meditation" th:value="${detailCount.meditation}" style="display:none">
    <input type='hidden' name="bodyActivity" th:value="${detailCount.bodyActivity}" style="display:none">
    <input type='hidden' name="deepBreath" th:value="${detailCount.deepBreath}" style="display:none">
    <input type='hidden' name="consulting" th:value="${detailCount.consulting}" style="display:none">
    <input type='hidden' name="medicineAlarm" th:value="${detailCount.medicineAlarm}" style="display:none">
    <input type='hidden' name="bloodPressureAlarm" th:value="${detailCount.bloodPressureAlarm}" style="display:none">
    <input type='hidden' name="exerciseAlarm" th:value="${detailCount.exerciseAlarm}" style="display:none">
    <input type='hidden' name="symptomAlarm" th:value="${detailCount.symptomAlarm}" style="display:none">
    <input type='hidden' name="natriumMoistureAlarm" th:value="${detailCount.natriumMoistureAlarm}" style="display:none">
    <input type='hidden' name="waterIntakeAlarm" th:value="${detailCount.waterIntakeAlarm}" style="display:none">
    <input type='hidden' name="weightAlarm" th:value="${detailCount.weightAlarm}" style="display:none">
    <input type='hidden' name="mindScoreAlarm" th:value="${detailCount.mindScoreAlarm}" style="display:none">
</div>
<div th:if="${type} == ${T(withus.entity.User.Type).CAREGIVER} and ${week} != 25">
    <input type='hidden' name="goal" th:value="${mainCount.goal}" style="display:none">
    <input type='hidden' name="level" th:value="${mainCount.level}" style="display:none">
    <input type='hidden' name="withusRang" th:value="${mainCount.withusRang}" style="display:none">
    <input type='hidden' name="diseaseInfo" th:value="${mainCount.diseaseInfo}" style="display:none">
    <input type='hidden' name="helper" th:value="${mainCount.helper}" style="display:none">
    <input type='hidden' name="medicine" th:value="${mainCount.medicine}" style="display:none">
    <input type='hidden' name="bloodPressure" th:value="${mainCount.bloodPressure}" style="display:none">
    <input type='hidden' name="exercise" th:value="${mainCount.exercise}" style="display:none">
    <input type='hidden' name="familyObservation" th:value="${mainCount.familyObservation}" style="display:none">
    <input type='hidden' name="dietManagement" th:value="${mainCount.dietManagement}" style="display:none">
    <input type='hidden' name="weight" th:value="${mainCount.weight}" style="display:none">
    <input type='hidden' name="mindHealth" th:value="${mainCount.mindHealth}" style="display:none">
    <input type='hidden' name="alarm" th:value="${mainCount.alarm}" style="display:none">
    <input type='hidden' name="board" th:value="${mainCount.board}" style="display:none">
    <input type='hidden' name="infoEdit" th:value="${mainCount.infoEdit}" style="display:none">

    <input type='hidden' name="recommendDiet" th:value="${detailCount.recommendDiet}" style="display:none">
    <input type='hidden' name="meditation" th:value="${detailCount.meditation}" style="display:none">
    <input type='hidden' name="bodyActivity" th:value="${detailCount.bodyActivity}" style="display:none">
    <input type='hidden' name="deepBreath" th:value="${detailCount.deepBreath}" style="display:none">
    <input type='hidden' name="consulting" th:value="${detailCount.consulting}" style="display:none">
    <input type='hidden' name="medicineAlarm" th:value="${detailCount.medicineAlarm}" style="display:none">
    <input type='hidden' name="bloodPressureAlarm" th:value="${detailCount.bloodPressureAlarm}" style="display:none">
    <input type='hidden' name="exerciseAlarm" th:value="${detailCount.exerciseAlarm}" style="display:none">
    <input type='hidden' name="symptomAlarm" th:value="${detailCount.symptomAlarm}" style="display:none">
    <input type='hidden' name="natriumMoistureAlarm" th:value="${detailCount.natriumMoistureAlarm}" style="display:none">
    <input type='hidden' name="lewaterIntakeAlarmvel" th:value="${detailCount.waterIntakeAlarm}" style="display:none">
    <input type='hidden' name="weightAlarm" th:value="${detailCount.weightAlarm}" style="display:none">
    <input type='hidden' name="mindDiaryAlarm" th:value="${detailCount.mindDiaryAlarm}" style="display:none">
    <input type='hidden' name="mindScoreAlarm" th:value="${detailCount.mindScoreAlarm}" style="display:none">
</div>

<div id="wrap" class="chart-page">

<header>
    <div class="header-wrap type01">
        <div class="head" th:if="${type} == ${T(withus.entity.User.Type).PATIENT} and ${week} != 25">
            <div onclick="helperRequest()">
                <a class="btn xsm type07" href="tel:010-8454-9186" onclick="addHelper()">
                    <span class="ico-call"></span>
                    <span class="txt-rt">도우미</span>
                </a>
            </div>
            <h2>
                <span>마음 점수</span>
            </h2>
            <div class="col text-end" style="font-size: 20px; margin-top: 0.73vh;">
                <a th:href="@{/center}" class="align-middle"><i class="fa-solid fa-house fa-xl"
                                                                style="color: #00b050;"></i></a>
            </div>
        </div>
        <div class="head" th:if="${type} == ${T(withus.entity.User.Type).CAREGIVER} or ${week} == 25">
            <div onclick="helperRequest()">
                <a class="btn xsm type07" href="tel:010-8454-9186">
                    <span class="ico-call"></span>
                    <span class="txt-rt">도우미</span>
                </a>
            </div>
            <h2>
                <span>마음 점수</span>
            </h2>
            <div class="col text-end" style="font-size: 20px; margin-top: 0.73vh;">
                <a th:href="@{/center}" class="align-middle"><i class="fa-solid fa-house fa-xl"
                                                                style="color: #00b050;"></i></a>
            </div>

        </div>
    </div>
</header>
    <div class="container" id="content">
        <div class="cont-wrap type01">
            <div class="chart-wrap">
<!--                <div class="chart-legend">-->
<!--             -->
<!--                </div>-->
                <canvas id="myChart" class="chart-blood" style="height:90vw; width:100vw"></canvas>
                <div class="chart-legend">
                    <span class="tit"></span>
                    <ul class="list">
                        <li >(일)</li>
                    </ul>
                </div>
            </div>

        </div>
        </div>
</div>


    <script>
        var weightRecord = /*[[ ${weightRecord} ]]*/;
        var weightDict = {};

        // Process weightRecord data to populate weightDict

        var today = new Date();
        var dateString = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2);

        var date = [];
        var weight = [];
        var j = 0;
        for (i = 0; i < weightRecord.length; i++) {
            weightDict[weightRecord[i].pk.date] = weightRecord[i].weight;
            if (dateString == weightRecord[i].pk.date.substr(0, 7)) {
                date[j] = weightRecord[i].pk.date.substr(8, 2);
                weight[j] = weightRecord[i].weight;
                j++;
            }
        }

        var ctx = document.getElementById('myChart').getContext('2d');
        var data = {
            labels: date,
            datasets: [{
                label: '체중',
                data: weight,
                fill: false,
                spanGaps: false,
                borderWidth: 2,
                borderColor: '#21bc97',
                pointBackgroundColor: '#21bc97',
                pointBorderColor: '#21bc97',
                pointRadius: 1.5
            }]
        };

        var myChart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: {
                scales: {
                    y: {
                        min: 0,
                        max: 25,
                        stepSize: 5
                    },
                    x: {
                        maxTicksLimit: 4
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                        enabled: false
                    }
                }
            }
        });
    </script>
</body>
</html>