<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>위더스</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no">
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <link th:href="@{/css/layout.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/goal/goal.js}"></script>
    <script th:src="@{/js/help.js}"></script>
    <script src="https://kit.fontawesome.com/e381c8a508.js" crossorigin="anonymous"></script>

</head>
<body>

<input type="hidden" id="button-count" th:if="${type} == ${T(withus.entity.User.Type).PATIENT} and ${week} != 25"
       th:attr="value=@{/patient-detail-button-count}">
<input type="hidden" id="button-count" th:if="${type} == ${T(withus.entity.User.Type).CAREGIVER} and ${week} != 25"
       th:attr="value=@{/caregiver-detail-button-count}">

<div th:if="${type} == ${T(withus.entity.User.Type).PATIENT} and ${week} != 25">
    <input type='hidden' name="symptom" th:value="${mainCount.symptom}" style="display:none">
    <input type='hidden' name="medicine" th:value="${mainCount.medicine}" style="display:none">
    <input type='hidden' name="mindHealth" th:value="${mainCount.mindHealth}" style="display:none">
    <input type='hidden' name="board" th:value="${mainCount.board}" style="display:none">
    <input type='hidden' name="alarm" th:value="${mainCount.alarm}" style="display:none">
    <input type='hidden' name="bloodPressure" th:value="${mainCount.bloodPressure}" style="display:none">
    <input type='hidden' name="diseaseInfo" th:value="${mainCount.diseaseInfo}" style="display:none">
    <input type='hidden' name="exercise" th:value="${mainCount.exercise}" style="display:none">
    <input type='hidden' name="goal" th:value="${mainCount.goal}" style="display:none">
    <input type='hidden' name="helper" th:value="${mainCount.helper}" style="display:none">
    <input type='hidden' name="level" th:value="${mainCount.level}" style="display:none">
    <input type='hidden' name="natriumMoisture" th:value="${mainCount.natriumMoisture}" style="display:none">
    <input type='hidden' name="weight" th:value="${mainCount.weight}" style="display:none">
    <input type='hidden' name="withusRang" th:value="${mainCount.withusRang}" style="display:none">
    <input type='hidden' name="infoEdit" th:value="${mainCount.infoEdit}" style="display:none">
    <input type='hidden' name="board" th:value="${mainCount.board}" style="display:none">

    <input type='hidden' name="recommendDiet" th:value="${detailCount.recommendDiet}" style="display:none">
    <input type='hidden' name="meditation" th:value="${detailCount.meditation}" style="display:none">
    <input type='hidden' name="bodyActivity" th:value="${detailCount.bodyActivity}" style="display:none">
    <input type='hidden' name="deepBreath" th:value="${detailCount.deepBreath}" style="display:none">
    <input type='hidden' name="consulting" th:value="${detailCount.consulting}" style="display:none">
    <input type='hidden' name="medicineAlarm" th:value="${detailCount.medicineAlarm}" style="display:none">
    <input type='hidden' name="bloodPressureAlarm" th:value="${detailCount.bloodPressureAlarm}" style="display:none">
    <input type='hidden' name="exerciseAlarm" th:value="${detailCount.exerciseAlarm}" style="display:none">
    <input type='hidden' name="symptomAlarm" th:value="${detailCount.symptomAlarm}" style="display:none">
    <input type='hidden' name="natriumMoistureAlarm" th:value="${detailCount.natriumMoistureAlarm}" style="display:none">
    <input type='hidden' name="waterIntakeAlarm" th:value="${detailCount.waterIntakeAlarm}" style="display:none">
    <input type='hidden' name="weightAlarm" th:value="${detailCount.weightAlarm}" style="display:none">
    <input type='hidden' name="mindScoreAlarm" th:value="${detailCount.mindScoreAlarm}" style="display:none">
</div>
<div th:if="${type} == ${T(withus.entity.User.Type).CAREGIVER} and ${week} != 25">
    <input type='hidden' name="goal" th:value="${mainCount.goal}" style="display:none">
    <input type='hidden' name="level" th:value="${mainCount.level}" style="display:none">
    <input type='hidden' name="withusRang" th:value="${mainCount.withusRang}" style="display:none">
    <input type='hidden' name="diseaseInfo" th:value="${mainCount.diseaseInfo}" style="display:none">
    <input type='hidden' name="helper" th:value="${mainCount.helper}" style="display:none">
    <input type='hidden' name="medicine" th:value="${mainCount.medicine}" style="display:none">
    <input type='hidden' name="bloodPressure" th:value="${mainCount.bloodPressure}" style="display:none">
    <input type='hidden' name="exercise" th:value="${mainCount.exercise}" style="display:none">
    <input type='hidden' name="familyObservation" th:value="${mainCount.familyObservation}" style="display:none">
    <input type='hidden' name="dietManagement" th:value="${mainCount.dietManagement}" style="display:none">
    <input type='hidden' name="weight" th:value="${mainCount.weight}" style="display:none">
    <input type='hidden' name="mindHealth" th:value="${mainCount.mindHealth}" style="display:none">
    <input type='hidden' name="alarm" th:value="${mainCount.alarm}" style="display:none">
    <input type='hidden' name="board" th:value="${mainCount.board}" style="display:none">
    <input type='hidden' name="infoEdit" th:value="${mainCount.infoEdit}" style="display:none">

    <input type='hidden' name="recommendDiet" th:value="${detailCount.recommendDiet}" style="display:none">
    <input type='hidden' name="meditation" th:value="${detailCount.meditation}" style="display:none">
    <input type='hidden' name="bodyActivity" th:value="${detailCount.bodyActivity}" style="display:none">
    <input type='hidden' name="deepBreath" th:value="${detailCount.deepBreath}" style="display:none">
    <input type='hidden' name="consulting" th:value="${detailCount.consulting}" style="display:none">
    <input type='hidden' name="medicineAlarm" th:value="${detailCount.medicineAlarm}" style="display:none">
    <input type='hidden' name="bloodPressureAlarm" th:value="${detailCount.bloodPressureAlarm}" style="display:none">
    <input type='hidden' name="exerciseAlarm" th:value="${detailCount.exerciseAlarm}" style="display:none">
    <input type='hidden' name="symptomAlarm" th:value="${detailCount.symptomAlarm}" style="display:none">
    <input type='hidden' name="natriumMoistureAlarm" th:value="${detailCount.natriumMoistureAlarm}" style="display:none">
    <input type='hidden' name="lewaterIntakeAlarmvel" th:value="${detailCount.waterIntakeAlarm}" style="display:none">
    <input type='hidden' name="weightAlarm" th:value="${detailCount.weightAlarm}" style="display:none">
    <input type='hidden' name="mindDiaryAlarm" th:value="${detailCount.mindDiaryAlarm}" style="display:none">
    <input type='hidden' name="mindScoreAlarm" th:value="${detailCount.mindScoreAlarm}" style="display:none">
</div>

<div id="wrap" class="list-page">
    <header>
        <div class="header-wrap type01">
            <div class="head" th:if="${type} == ${T(withus.entity.User.Type).PATIENT} and ${week} != 25">
                <div onclick="helperRequest()">
                    <a class="btn xsm type07" href="tel:010-8454-9186" onclick="addHelper()">
                        <span class="ico-call"></span>
                        <span class="txt-rt">도우미</span>
                    </a>
                </div>
                <h2>

                    <span>신체활동</span>
                </h2>
                <div class="col text-end" style="font-size: 20px; margin-top: 0.73vh;">
                    <a th:href="@{/center}" class="align-middle"><i class="fa-solid fa-house fa-xl"
                                                                    style="color: #00b050;"></i></a>
                </div>
            </div>
            <div class="head" th:if="${type} == ${T(withus.entity.User.Type).CAREGIVER} or ${week} == 25">
                <div onclick="helperRequest()">
                    <a class="btn xsm type07" href="tel:010-8454-9186">
                        <span class="ico-call"></span>
                        <span class="txt-rt">도우미</span>
                    </a>
                </div>
                <h2>

                    <span>신체활동</span>
                </h2>
                <div class="col text-end" style="font-size: 20px; margin-top: 0.73vh;">
                    <a th:href="@{/center}" class="align-middle"><i class="fa-solid fa-house fa-xl"
                                                                    style="color: #00b050;"></i></a>
                </div>

            </div>
        </div>
    </header>
    <div class="container" id="content">
        <div class="cont-wrap type01" style="flex-wrap:wrap">
            <div class="video-text-column" style="display:flex;flex-direction:row; justify-content: space-between; margin:3px;">
                <div class="video-column" style="display:flex; width: 70%;margin-left: 10px;margin-top:10px;">
                    <div class ="video-container" style=" position: relative; overflow: hidden;">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/hG6cPZlcDUc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="text-column" style="padding: 50px 20px 0 20px; box-sizing:border-box;">
                    <span style="font-size:15px; font-weight:bold;">의자운동</span>
                </div>
            </div>

            <div class="video-text-column" style="display:flex;flex-direction:row; justify-content: space-between; margin:3px;">
                <div class="video-column" style="display:flex; width: 70%;margin-left: 10px;margin-top:10px;">
                    <div class ="video-container" style=" position: relative; overflow: hidden;">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/neVPsNcjsLg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="text-column" style="padding: 50px 20px 0 20px; box-sizing:border-box;">
                    <span style="font-size:15px; font-weight:bold;">매트운동</span>
                </div>
            </div>

            <div class="video-text-column" style="display:flex;flex-direction:row; justify-content: space-between; margin:3px;">
                <div class="video-column" style="display:flex; width: 70%;margin-left: 10px;margin-top:10px;">
                    <div class ="video-container" style=" position: relative; overflow: hidden;">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/flofiE0tWTA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="text-column" style="padding: 50px 20px 0 20px; box-sizing:border-box;">
                    <span style="font-size:15px; font-weight:bold;">덤벨운동</span>
                </div>
            </div>


            <div class="video-text-column" style="display:flex;flex-direction:row; justify-content: space-between; margin:3px;">
                <div class="video-column" style="display:flex; width: 70%;margin-left: 10px;margin-top:10px;">
                    <div class ="video-container" style=" position: relative; overflow: hidden;">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/7t7JSfNcIkQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="text-column" style="padding: 50px 20px 0 20px; box-sizing:border-box;">
                    <span style="font-size:15px; font-weight:bold;">걷기운동</span>
                </div>
            </div>

            <div class="video-text-column" style="display:flex;flex-direction:row; justify-content: space-between; margin:3px;">
                <div class="video-column" style="display:flex; width: 70%;margin-left: 10px;margin-top:10px;">
                    <div class ="video-container" style=" position: relative; overflow: hidden;">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Jo-agbPVeBE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="text-column" style="padding: 50px 20px 0 20px; box-sizing:border-box;">
                    <span style="font-size:15px; font-weight:bold;">기능적</br>운동</span>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>