<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/>
<script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>위더스</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no">
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <link th:href="@{/css/layout.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <title>admin 페이지</title>
</head>
<script>
    jQuery(function($){
        $("#foo-table").DataTable({
            "ordering"     : false
        });

    });
</script>
<body>
<div id="wrap" class="main-page">
    <header>
        <div class="header-wrap" style="height: 410px">
            <lable style="cursor:pointer">
                <div class="cont" >
                <span class="title-txt">
                </span>
                    <div style="text-align: left" class="todo-txt" spanChange() > <p th:text="'환자 이름 : '+' '+ ${patient.name}"></div>
                    <div style="text-align: left" class="todo-txt" spanChange() > <p th:text="'환자 아이디-'+' '+ ${patient.userId}"></div>
                    <div class="todo-txt" spanChange() >
                        <p style="text-align: left"  th:text="'환자 생년월일-'+' '+ ${patient.birthdate}">
                        <p style="text-align: center" th:text="'환자 이주의 목표-'+' '+ ${patient.goal}">
                        <p style="text-align: right" th:text="'환자 레벨-'+' '+ ${patient.level}"> </div>
                </div>
            </lable>
        </div>
        <nav>
            <ul>
                <li class="m"><a href="#" class="menu-01"><span>환자용 계정 기록</span></a>
                </li> <li class="m"><a href="#" class="menu-02"><span>보호자용 계정 기록</span></a></li>
                <li class="m"><a href="#" class="menu-03"><span>위더스랑 요청 기록</span></a></li>
            </ul>
        </nav>
    </header>
    등록 환자 목록
    <table id="foo-table" class="table table-bordered">
        <thead>
        <tr>
            <th>주차</th><th>이 주의 목표</th><th>달성률</th><th>알람</th><th>혈압/맥박</th><th>운동</th><th>염분/수분</th><th>체중</th><th>증상일지</th><th>질환정보</th><th>위더스랑 버튼</th><th>앱 도우미 버튼</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="count : ${counts}">
            <td th:text="${count.key.week}+주">주차</td>
            <td th:text="${count.goal}">이 주의 목표</td>
            <td th:text="${count.level}">달성률</td>
            <td th:text="${count.alarm}">알람</td>
            <td th:text="${count.bloodPressure}">혈압/맥박</td>
            <td th:text="${count.exercise}">운동</td>
            <td th:text="${count.natriumMoisture}">염분/수분</td>
            <td th:text="${count.weight}">체중</td>
            <td th:text="${count.symptom}">증상일지</td>
            <td th:text="${count.diseaseInfo}">질환정보</td>
            <td th:text="${count.withusRang}">위더스랑 버튼</td>
            <td th:text="${count.helper}">앱 도우미 버튼</td>
        </tr>
        <td th:text="종합">주차</td>
        <td th:text="${goal}">이 주의 목표</td>
        <td th:text="${level}">달성률</td>
        <td th:text="${alarm}">알람</td>
        <td th:text="${blood}">혈압/맥박</td>
        <td th:text="${exercise}">운동</td>
        <td th:text="${natrium}">염분/수분</td>
        <td th:text="${weight}">체중</td>
        <td th:text="${symptom}">증상일지</td>
        <td th:text="${disease_info}">질환정보</td>
        <td th:text="${chat}">위더스랑 버튼</td>
        <td th:text="${helper}">앱 도우미 버튼</td>
        </tbody>
    </table>
</div>
</body>
</html>