<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/>
<script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>위더스</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no">
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <link th:href="@{/css/layout.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <title>Admin center</title>
</head>
<!--<script>-->
<!--    jQuery(function($){-->
<!--        $("#foo-table").DataTable();-->
<!--    });-->
<!--</script>-->
<body>
<div id="wrap" class="main-page">
    <header>
        <div class="header-wrap" style="height: 410px">
            <lable style="cursor:pointer">
                <div class="cont" >
                <span class="title-txt">
                </span>
                    <div style="text-align: left" class="todo-txt" spanChange() > <p th:text="'환자 이름 : '+' '+ ${patient.name}"></div>
                    <div style="text-align: left" class="todo-txt" spanChange() > <p th:text="'환자 아이디-'+' '+ ${patient.userId}"></div>
                    <div class="todo-txt" spanChange() >
                        <p style="text-align: left"  th:text="'환자 생년월일-'+' '+ ${patient.birthdate}">
                        <p style="text-align: center" th:text="'환자 이주의 목표-'+' '+ ${patient.goal}">
                        <p style="text-align: right" th:text="'환자 레벨-'+' '+ ${patient.level}"> </div>
                 </div>
            </lable>
        </div>
        <nav>
            <ul>
                <li class="m"><a href="#" class="menu-01"><span>환자용 계정 기록</span></a>
                </li> <li class="m"><a href="#" class="menu-02"><span>보호자용 계정 기록</span></a></li>
                <li class="m"><a href="#" class="menu-03"><span>위더스랑 요청 기록</span></a></li>
            </ul>
        </nav>
    </header>

    <table id="foo-table" class="table table-bordered">
        <thead>
        <tr><th>날짜</th><th>도우미 요청 연결 시간</th><th>이름</th> <th>아이디</th>  <th>본인 연락처</th> <th>보호자 연락처</th></tr>
        </thead>
        <tbody>
        <tr th:each="patientHelpRequestDTO : ${patientHelpRequestDTOList}">
            <td th:text="${patientHelpRequestDTO.requestDate}">날짜</td>
            <td th:text="${patientHelpRequestDTO.requestTime}">시간</td>
            <td th:text="${patientHelpRequestDTO.name}">이름</td>
            <td th:text="${patientHelpRequestDTO.id}">아이디</td>
            <td th:text="${patientHelpRequestDTO.contact}">본인 연락처</td>
            <td th:text="${patientHelpRequestDTO.caregiverContact}">보호자 연락처</td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>