<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/>
<script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>위더스</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no">
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <link th:href="@{/css/layout.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script src="/js/admin/admin_excel.js"></script>
    <link href="/css/admin/adminTable.css" rel="stylesheet">

    <title>Admin center</title>
</head>
<body>
<div id="wrap" class="main-page">

    <div th:if="${weekAsc} != null">
        <div th:replace="Admin/admin_nav :: navFragment"></div>
        <header th:replace="Admin/admin_infoHeader :: headerFragment"></header>

        <button class="btn__excel" onclick="fnExcelReport('foo-table','water', userId)">엑셀 다운</button>
        <div class="center-table">
            <table id="foo-table" class="table table-bordered" style="table-layout: fixed">
                <thead>
                <tr>
                    <th colspan="3" style="text-align: center; font-weight: bold;">수분섭취</th>
                </tr>
                <tr>
                    <th style="text-align: center">주차</th>
                    <th style="text-align: center">요일</th>
                    <th style="text-align: center">수분 섭취량(ml)</th>
                </tr>
                </thead>
                <tbody id="history-table-data" style="text-align: center" >
                </tbody>
            </table>
        </div>
    </div>
</div>
<script th:inline="javascript">

    /*<![CDATA[*/
    var weekAsc = /*[[ ${weekAsc} ]]*/;
    var weekAvg = /*[[ ${weekAvg} ]]*/;
    /*]]*/

    var userId;

    if(weekAsc.length == 0)
    {
        var Item = "<tr>";
        Item += "<td colspan='3' style='background: #FFFFFF'>" + "데이터 없음" + "</td>";
        Item += "</tr>";
        $('.btn__excel').hide();
        $('#history-table-data').append(Item);
        userId = '';
    }
    else
    {
        userId = weekAsc[0].pk.id;
        //모든 요일 표시
        var weekAscCount = 0;
        var weekAvgCount = 0;
        for(i=1; i<=24; i++)
        {
            for(j=0; j<7; j++)
            {
                if(i%2 == 0)
                    var Item = "<tr class='odd-tr'>";
                else
                    var Item = "<tr class='even-tr'>";
                var weekText = ['월', '화', '수', '목', '금', '토', '일'];     //월요일부터 표시해주는 배열
                if(j == 0)
                {
                    Item += "<td rowspan='8' style='vertical-align: middle'>" + i + "주차" +"</td>";
                }
                Item += "<td>" + weekText[j] +"</td>";
                var day = new Date(weekAsc[weekAscCount].pk.date.substr(0, 4), weekAsc[weekAscCount].pk.date.substr(5, 2)-1, weekAsc[weekAscCount].pk.date.substr(8, 2)).getDay();
                var week = ['일', '월', '화', '수', '목', '금', '토'];     //날짜와 요일을 매핑하는 배열
                var dayLabel = week[day];
                if(weekAsc[weekAscCount].week == i && weekText[j] == dayLabel.toString())
                {
                    Item += "<td>" + (weekAsc[weekAscCount].intake*200) +"</td>";
                    weekAscCount++;
                    if(weekAscCount >= weekAsc.length)
                        weekAscCount--;
                }
                else
                    Item += "<td>" + "" +"</td>";

                Item += "</tr>";
                $('#history-table-data').append(Item);


                if(j == 6)
                {
                    if(i%2 == 0)
                        var Item = "<tr class='odd-tr'>";
                    else
                        var Item = "<tr class='even-tr'>";
                    Item += "<td>" + i + "주차 평균 하루 수분 섭취량" + "</td>";

                    if(weekAvg[weekAvgCount].week == i)
                    {
                        Item += "<td>" + (weekAvg[weekAvgCount].intake*200).toFixed(2) + "</td>";
                        weekAvgCount++;
                        if(weekAvgCount >= weekAvg.length)
                            weekAvgCount--;
                    }
                    else
                        Item += "<td>" + "" + "</td>";
                    Item += "</tr>";
                    $('#history-table-data').append(Item);
                }

            }
        }

        var Item = "<tr class='allRecord'>";
        Item += "<td colspan='2'>모든 주차 평균 하루 수분 섭취량</td>";

        var sum = 0;
        for(i=0; i<weekAvg.length;i++)
        {
            sum += weekAvg[i].intake;
        }
        var avg = (sum * 200) / 24;
        Item += "<td>" + avg.toFixed(2) + "</td>";
        Item += "</tr>";
        $('#history-table-data').append(Item);

    }




</script>
</body>
</html>