
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<div id="admin_header">
	<button id="patient_care"			onclick="alert('AAA');">환자관리</button>
	<button id="helper_request_list"	onclick="alert('BBB');">도우미 연결 요청 기록</button>
	<span>위더스 관리자</span>
	<a href="#" th:href="@{/logout}">Log Out</a>
	<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
		<input hidden type="submit" value="Sign Out"/>
	</form>

</div>
