<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<meta charset="UTF-8">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>위더스</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/>
    <script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css">
    <script th:src="@{/js/datepicker-ko.js}"></script>
    <title>Admin center</title>
</head>

<body>
<div th:replace="Admin/admin_nav :: navFragment"></div>
<div id="wrap" class="main-page">
    <button id="previousMonth" onclick="preMonth()"><</button>
    <input type="text" id="month" name="month" style="text-align: center;" readonly>
    <button id="nextMonth" onclick="nextMonth()">></button>


    <table id="foo-table" class="table table-bordered">
        <thead>
        <tr><th>날짜</th><th>도우미 요청 연결 시간</th><th>이름</th> <th>아이디</th>  <th>본인 연락처</th> <th>보호자 연락처</th></tr>
        </thead>
        <tbody>
        <tr th:each="patientHelpRequestDTO : ${patientHelpRequestDTOList}">
            <td th:text="${#temporals.format(patientHelpRequestDTO.requestDate, 'YYYY년 MM월 dd일')}">날짜</td>
            <td th:text="${#temporals.format(patientHelpRequestDTO.requestTime, 'HH시 mm분 ss초')}">시간</td>
            <td th:text="${patientHelpRequestDTO.name}">이름</td>
            <td th:text="${patientHelpRequestDTO.id}">아이디</td>
            <td th:text="${patientHelpRequestDTO.contact}">본인 연락처</td>
            <td th:text="${patientHelpRequestDTO.caregiverContact}">보호자 연락처</td>

        </tr>
        </tbody>
    </table>
</div>
</body>
<script th:inline="javascript">

    let today = new Date();
    let year = today.getFullYear(); // 년도
    let month = today.getMonth() + 1;  // 월
    if(month < 10)
    {
        month = "0" + month.toString();
    }
    document.getElementById("month").value = year + "년 " + month + "월";



    function preMonth(){
        var yearNum = document.getElementById("month").value.substr(0, 4);
        var monthNum = document.getElementById("month").value.substr(6, 2);

        monthNum--;
        if(monthNum < 1)
        {
            monthNum = 12;
            yearNum--;
        }
        if(monthNum.toString().length == 1)
        {
            monthNum = "0" + monthNum.toString();
        }
        document.getElementById("month").value = yearNum + "년 " + monthNum + "월";
    }

    function nextMonth(){
        var yearNum = document.getElementById("month").value.substr(0, 4);
        var monthNum = document.getElementById("month").value.substr(6, 2);

        monthNum++;
        if(monthNum > 12)
        {
            monthNum = 1;
            yearNum++;
        }
        if(monthNum.toString().length == 1)
        {
            monthNum = "0" + monthNum.toString();
        }
        document.getElementById("month").value = yearNum + "년 " + monthNum + "월";
    }

    $.fn.dataTable.ext.search.push(
        function( settings, data, dataIndex ) {
            var str = document.getElementById("month").value;

            $('#previousMonth, #nextMonth').click(function (){
                str = document.getElementById("month").value;
            });

            if(data[0].toString().substr(0, 9) == str)
                return true;
            else return false;
        }
    );

    $(document).ready(function() {
        var table = $('#foo-table').DataTable({
            dom: "tp",
        });

        table
            .order([0, "desc"], [1, "desc"])
            .draw();
        // Event listener to the two range filtering inputs to redraw on input
        $('#previousMonth, #nextMonth').click( function() {
            table.draw();
        } );
    } );


</script>
</html>