<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr" style="overflow: auto;">
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/>
<script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>위더스</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
  <meta name="format-detection" content="telephone=no">
  <link th:href="@{/css/reset.css}" rel="stylesheet">
  <link th:href="@{/css/common.css}" rel="stylesheet">
  <link th:href="@{/css/layout.css}" rel="stylesheet">
  <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
  <script th:src="@{/js/common.js}"></script>
  <script src="/js/admin/admin_excel.js"></script>
  <link href="/css/admin/adminTable.css" rel="stylesheet">
  <title>Admin center</title>
</head>
<body>
<div id="wrap" class="main-page">

  <div th:if="${withusRang} != null">
    <div th:replace="Admin/admin_nav :: navFragment"></div>
    <header th:replace="Admin/admin_infoHeader :: headerFragment"></header>

    <button class="btn__excel" onclick="fnExcelReport('foo-table','withusRang', userId)">엑셀 다운</button>
    <div class="center-table">
      <table id="foo-table" class="table table-bordered" style="table-layout: fixed;">
        <thead>
        <tr>
          <th colspan="3" style="text-align: center; font-weight: bold;">위더스랑</th>
        </tr>
        <tr>
          <th style="text-align: center">주차</th>
          <th style="text-align: center">요일</th>
          <th style="text-align: center">위더스랑 마지막코드</th>
        </tr>
        </thead>
        <tbody id="history-table-data" style="text-align: center;">
        </tbody>
      </table>
    </div>
  </div>
</div>
<script th:inline="javascript">
  /*<![CDATA[*/
  var withusRangAsc = /*[[ ${withusRang} ]]*/;
  /*]]*/

  var withusRang = {};


  if(withusRangAsc.length == 0)
  {
    var Item = "<tr>";
    Item += "<td colspan='3' style='background: #FFFFFF'>" + "데이터 없음" + "</td>";
    Item += "</tr>";
    $('.btn__excel').hide();
    $('#history-table-data').append(Item);
    userId = '';
  }
  else
  {
    let weeks = {'week':'', 'mon':'','wed':'','sat':''};
    let weekCount = '0';
    const weekend = {'1':'mon','2':'wed','3':'sat'};
    for(i =0; i<withusRangAsc.length; i++){
      let temp_data = (withusRangAsc[i].entry_code).split('_');
      let first = temp_data[0];
      if(temp_data[temp_data.length-1].substr(0,1) !== "A"){
        let day = '';
        if(first.length === 5){
          weeks.week = first.substr(1,2);
          day = weekend[first.substr(4,1)];
          if(weekCount ==='0'){
            weekCount = first.substr(1,2);
          }
        } else {
          weeks.week = first.substr(1,1);
          day = weekend[first.substr(3,1)];
          if(weekCount ==='0'){
            weekCount = first.substr(1,1);
          }
        }

        if(weeks.week !== weekCount){
          withusRang[weekCount] = weeks;
          weekCount = weeks['week'];
          weeks = {'week':'', 'mon':'','wed':'','sat':''};
          weeks['week'] = weekCount;
        }
        weeks[day] = withusRangAsc[i].entry_code;
        if(i === withusRangAsc.length-1){
          withusRang[weekCount] = weeks;
        }


      }

    }
    for(i= 1; i<=24; i++){
      for(j=0; j<3; j++){
        if(i%2 == 0)
          var Item = "<tr class='odd-tr'>";
        else
          var Item = "<tr class='even-tr'>";
        var weekText = ['월', '수', '토'];
        if(j == 0)
        {
          Item += "<td rowspan='3' style='vertical-align: middle'>" + i + "주차" +"</td>";
        }
        Item += "<td style='vertical-align: middle'>" + weekText[j] +"</td>";
        if(j == 0 && i in withusRang){
          Item += "<td style='vertical-align: middle'>" + withusRang[i].mon +"</td>";
        } else if(j == 0 && !(i in withusRang)) {
          Item += "<td style='vertical-align: middle'>" + "" +"</td>";
        }
        if(j == 1 && i in withusRang){
          Item += "<td style='vertical-align: middle'>" + withusRang[i].wed +"</td>";
        } else if(j == 1 && !(i in withusRang)) {
          Item += "<td style='vertical-align: middle'>" + "" +"</td>";
        }
        if(j == 2 && i in withusRang){
          Item += "<td style='vertical-align: middle'>" + withusRang[i].sat +"</td>";
        } else if(j == 2 && !(i in withusRang)) {
          Item += "<td style='vertical-align: middle'>" + "" +"</td>";
        }


        Item += "</tr>";
        $('#history-table-data').append(Item);
      }

    }

  }



</script>
</body>
</html>