<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/admin_login.css}" rel="stylesheet">
	<title>admin 페이지</title>
</head>
<body>
	<div id="body">
		<img id="img-login" th:src="@{/images/admin_login.png}">
		<form id="login-info" th:action="@{/admin-login-process}" method="post">
			<div th:if="${param.error}" class="notification error">
				Invalid username and password.
			</div>
			<div th:if="${param.logout}" class="notification">
				You have been logged out.
			</div>
			<div>
				<div id="id"><label> 아이디: <input type="text" name="username"/> </label></div>
				<div><label> 비밀번호: <input type="password" name="password"/> </label></div>
			</div>
			<div id="button-area">
				<input type="submit" value="로그인"/>
			</div>
		</form>
	</div>
</body>
</html>
