<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="kr">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>위더스</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no">
    <link  th:href="@{/css/jquery-ui.css}" rel="stylesheet">
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <link th:href="@{/css/layout.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/jquery-ui.js}"></script>
    <script th:src="@{/js/datepicker-ko.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/help.js}"></script>
    <script src="https://kit.fontawesome.com/e381c8a508.js" crossorigin="anonymous"></script>
</head>
<body>
<input type="hidden" id="button-count" th:attr="value=@{/button-count}">
<input type="hidden" id="helper-request" th:attr="value=@{/helper-request}">
<div class="skip-navi">
    <a href="#content">본문 바로가기</a>
</div>
<div th:if="${type} == ${T(withus.entity.User.Type).PATIENT} and ${week} != 25 ">
    <input type = 'hidden' name = "symptom"           th:value = "${count.symptom}" style = "display:none">
    <input type = 'hidden' name = "alarm"             th:value = "${count.alarm}" style = "displ-ay:none">
    <input type = 'hidden' name = "blood"             th:value = "${count.bloodPressure}" style = "display:none">
    <input type = 'hidden' name = "disease"           th:value = "${count.diseaseInfo}" style = "display:none">
    <input type = 'hidden' name = "exercise"          th:value = "${count.exercise}" style = "display:none">
    <input type = 'hidden' name = "goal"              th:value = "${count.goal}" style = "display:none">
    <input type = 'hidden' name = "helper"            th:value = "${count.helper}" style = "display:none">
    <input type = 'hidden' name = "level"             th:value = "${count.level}" style = "display:none">
    <input type = 'hidden' name = "natriumMoisture"   th:value = "${count.natriumMoisture}" style = "display:none">
    <input type = 'hidden' name = "weight"            th:value = "${count.weight}" style = "display:none">
    <input type = 'hidden' name = "withusRang"        th:value = "${count.withusRang}" style = "display:none">
</div>
<!-- wrap -->
<div id="wrap" class="insert-page">

    <!-- header -->
    <header>
        <div class="header-wrap type01">
            <div class="head" th:if="${type} == ${T(withus.entity.User.Type).PATIENT} and ${week} != 25 ">
                <div onclick="helperRequest()" >
                    <a class="btn xsm type07" href="tel:010-8454-9186" th:onclick="'addHelper(parseInt(' + ${count.helper} + '))'" >
                        <span class="ico-call" ></span>
                        <span class="txt-rt">도우미</span>
                    </a>
                </div>
                <h2>
                    <span class="ico-symptom-s"></span>
                    <span>증상일지</span>
                </h2>
                <div class="col text-end" style="font-size: 20px; margin-top: 0.73vh;">
                    <a th:href="@{/center}" class="align-middle"><i class="fa-solid fa-house fa-xl" style="color: #00b050;"></i></a>
                </div>
            </div>
            <div class="head" th:if="${type} == ${T(withus.entity.User.Type).CAREGIVER} or ${week} == 25">
                <div onclick="helperRequest()" >
                    <a class="btn xsm type07" href="tel:010-8454-9186">
                        <span class="ico-call" ></span>
                        <span class="txt-rt">도우미</span>
                    </a>
                </div>
                <h2>
                    <span class="ico-symptom-s"></span>
                    <span>증상일지</span>
                </h2>
                <div class="col text-end" style="font-size: 20px; margin-top: 0.73vh;">
                    <a th:href="@{/center}" class="align-middle"><i class="fa-solid fa-house fa-xl" style="color: #00b050;"></i></a>
                </div>
            </div>
        </div>
    </header>
    <!-- // header -->

    <!-- content -->
    <div class="container" id="content">
        <div class="cont-wrap type01">
            <!-- 기록이 있는 해당 날짜의 td에 .record-face1 /.record-face2 /.record-face3 /.record-face4 클래스가 추가되면 디자인추가됨 -->
            <div id="dateRecord" class="size-lg"></div>
        </div>
    </div>


    <div class="popup pop-type01" id="layerSelectType" style="display: none">
        <div class="pop-wrap">
            <!-- <a href="javascript:void(0);" class="pop-close"></a> -->
            <div class="record-face1"></div>
            <div class="popup-body">
                <div class="pop-tit" id="popUp1">
                </div>
                <div class="pop-cont" id="popUp2">
                </div>
                <!--                <div class="pop-desc">목표를 변경하고 싶으면 ‘수정’ 버튼을 눌러주세요.</div>-->
            </div>
            <div class="btn-wrap grid2">
                <button class="btn xlg type07" id="buttonNo">삭제</button>
                <button class="btn xlg type02" id="buttonOk">수정</button>
            </div>
        </div>
    </div>
    <div class="dim-layer" style="display: none" id="dim"></div>


    <div class="popup pop-type01" id="symptommodify" style="display: none">
        <div class="pop-wrap">
            <!-- <a href="javascript:void(0);" class="pop-close"></a> -->
            <div class="record-face1"></div>
            <div class="popup-body">
                <div class="pop-tit" id="popUp11">
                </div>
                <div class="pop-cont" id="popUp22">
                    <input type="text" name="text" th:value="${symptomtext}" autofocus>
                </div>

<!--                <textarea id="editText"></textarea>-->
                <!--                <div class="pop-desc">목표를 변경하고 싶으면 ‘수정’ 버튼을 눌러주세요.</div>-->
            </div>
                <button class="btn xlg type02" id="button">확인</button>
        </div>
    </div>
    <div class="dim-layer" style="display: none" id="dim"></div>


    <!-- // content -->

</div>
<!--// wrap -->
<script th:inline="javascript">

    /*<![CDATA[*/
    var symptomHistory = /*[[ ${symptom} ]]*/;
    /*]]*/
    var sum = 0;
    var symptomtext = "";
    var yy = 0;
    var mm =0;
    var dd = 0;



    //string으로 날짜 받아서 보내주기
    const getAjax = function(url, day) {
        return new Promise((resolve, reject) => { // 1.

            $.ajax({
                url: url,
                type: "POST",
                dataType:"json",
                contentType: 'application/json; charset=utf-8',
                data: (
                    day
                ),
                success: (res) => {
                    resolve(res);  // 2.
                },
                error: (e) => {
                    reject(e);  // 3.
                }
            });
        });
    }

    async function deleteSymtomData(day){
        const url ="/deleteData";
        try {

            const symptomData = await getAjax(url,day);
            return symptomData;
        } catch(e) {
            console.log(e);
        }
    }





    function modify(month, day, week, date) {

        // $("#symptommodify").hide();
        // $("#dim").hide();

        // 기존 텍스트 가져오기 (이 부분은 알맞게 서버에서 텍스트를 가져오는 코드로 대체해야합니다)
        Item = "<span>" + month + "월 " + day + "일 " + week + "요일 </span>";
        $('#popUp11').append(Item);
        const oldText = symptomtext;// 서버에서 가져온 기존 텍스트

        $("#popUp22").text(oldText);
        $("#symptommodify").show();
        $("#dim").show();

        $("#button").click(function () {

            // 수정된 텍스트를 가져옵니다.
            const textAreaElement = document.getElementById("editText");
            const newText = textAreaElement.value
            //const newText = $("#editText").val();
            if (newText !== null) {
                const dateToEdit = date; // 수정하려는 날짜를 설정
                saveEditedTextToServer(dateToEdit, newText);
            }

            // 팝업을 닫습니다.
            $("#symptommodify").hide();
            $("#dim").hide();
        });

        //     // prompt로 텍스트 수정 입력란 띄우기
        //     const newText = prompt("텍스트 수정", oldText);
        //
        //     // 수정된 텍스트가 있다면 서버에 보내고 저장하는 등의 작업을 수행합니다
        //     if (newText !== null) {
        //         const dateToEdit=tempStr;
        //         saveEditedTextToServer(dateToEdit, newText);
        //     }
        //     // 서버에 newText를 보내고 저장하는 코드를 추가하세요.
        //     console.log("수정된 텍스트:", newText);
        // }


        //string으로 날짜 받아서 보내주기
        const getAjax = function (url, date, newText) {
            return new Promise((resolve, reject) => { // 1.
                console.log("a");
                $.ajax({
                    url: url,
                    type: "POST",
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    data: ({
                        date,
                        newText
                    }),
                    success: (res) => {
                        resolve(res);  // 2.
                    },
                    error: (e) => {
                        reject(e);  // 3.
                    }
                });
            });
        }

        // 서버에 수정된 텍스트를 보내고 저장하는 함수
        async function saveEditedTextToServer(date, newText) {

            const url = "/modifyData";
            try {

                const symptommodifyData = await getAjax(url, date, newText);
                console.log(symptommodifyData);
                return symptommodifyData;
            } catch (e) {
                console.log(e);
            }

            console.log("날짜:", date);
            console.log("새로운 텍스트:", newText);
        }
    }




    $.datepicker._generateHTML = (function (event) {
        var realGenerateHtml = $.datepicker._generateHTML;
        console.log(event);
        return function (instance) {
            var html = realGenerateHtml.apply(this, arguments), $temp;

            if (instance.input.is(".size-lg")) {
                $temp = $("<table></table>").append(html);
                $temp.find(".ui-datepicker-calendar td a").each(function () {
                    yy = $(this).parent().data("year"),
                        mm = $(this).parent().data("month"),
                        dd = +$(this).text();

                    var monthStr, dayStr;
                    monthStr = (mm + 1).toString();
                    if (monthStr.length == 1) {
                        monthStr = "0" + monthStr;
                    }
                    dayStr = dd.toString();
                    if (dayStr.length == 1) {
                        dayStr = "0" + dayStr;
                    }
                    var str = yy.toString() + "-" + monthStr + "-" + dayStr;
                    var hasTodaySymptom = false;

                    for (i = 0; i < symptomHistory.length; i++) {
                        hasTodaySymptom = false;
                        if (str == symptomHistory[i].pk.date) {
                            hasTodaySymptom = true;
                            sum = symptomHistory[i].todaysymptom;
                            symptomtext = symptomHistory[i].text;

                            switch (symptomHistory[i].todaysymptom) {

                                case 0:
                                    console.log("hgfd");
                                    if (symptomHistory[i].text != null && symptomHistory[i].text != "") {
                                        console.log(symptomHistory[i].text);
                                        console.log(sum);
                                        console.log(symptomtext);
                                        $(this).addClass('see-more');
                                    } else {
                                        $(this).addClass('record-face1');
                                    }

                                    break;

                                case 1:
                                    if (symptomHistory[i].text != null && symptomHistory[i].text != "") {
                                        console.log(symptomHistory[i].text);
                                        console.log(sum);
                                        console.log(symptomtext);
                                        $(this).addClass('see-more');
                                    } else {
                                        $(this).addClass('record-face2');
                                    }
                                    break;

                                case 2:
                                    //$(this).addClass('record-face3');
                                    if (symptomHistory[i].text != null && symptomHistory[i].text != "") {
                                        console.log(symptomHistory[i].text);
                                        console.log(sum);
                                        console.log(symptomtext);
                                        $(this).addClass('see-more');
                                    } else {
                                        $(this).addClass('record-face3');
                                    }
                                    break;

                                case 3:
                                    // $(this).addClass('record-face3');
                                    if (symptomHistory[i].text != null && symptomHistory[i].text != "") {
                                        console.log(symptomHistory[i].text);
                                        console.log(sum);
                                        console.log(symptomtext);
                                        $(this).addClass('see-more');
                                    } else {
                                        $(this).addClass('record-face3');
                                    }
                                    break;

                                case 4:
                                    if (symptomHistory[i].text != null && symptomHistory[i].text != "") {
                                        console.log(symptomHistory[i].text);
                                        console.log(sum);
                                        console.log(symptomtext);
                                        $(this).addClass('see-more');
                                    } else {
                                        $(this).addClass('record-face4');
                                    }
                                    break;
                            }
                        }

                    }
                    if (!hasTodaySymptom && getTodayDate() === str) {
                        $(this).addClass('symptom-write')
                            .attr('onclick', "location.href='/symptom';")
                            .attr('style', 'cursor:pointer;');

                    }

                    });
                        html = $temp[0].innerHTML;

                    }

                    return html;
                    };
                })();


                $(function () {
                    $("#dateRecord").datepicker();

                    $(document).ready(function () {

                        var tdTags = $(".see-more");

                        tdTags.on('click', function (e) {
                            console.log('123');
                            e.preventDefault();
                            // e.stopPropagation();
                            let text = getText(this.text);
                            let todaysymptom = getTodaySymptom(this.text);
                            let todaymonth = getdaymonth(this.text);
                            let todayday = getday(this.text);
                            let todayyear = getdayyear(this.text);
                            let today = getDayOfWeek(todayyear, todaymonth, todayday);
                            let date = getdate(this.text);
                            symptompopup(todaysymptom, text, todaymonth, todayday, today,date);
                        });
                    });


                    // 다른 부분 클릭 시 이벤트 전파 막기
                    $("#dateRecord").on('click', function (e) {
                        e.stopPropagation();
                        console.log('555')
                    });

                });


                //그날 텍스트
                function getText(day) {

                    if (day.length == 1) {
                        day = "0" + day;
                    }
                    let month = (mm + 1).toString();
                    if (month.length == 1) {
                        month = "0" + month;
                    }
                    const tempStr = yy.toString() + "-" + month + "-" + day.toString();
                    console.log(tempStr);
                    for (var i = 0; i < symptomHistory.length; i++) {
                        if (symptomHistory[i].pk.date == tempStr) {
                            return symptomHistory[i].text;
                        }
                    }
                    return null;

                }

                 //그날 date
                 function getdate(day) {

                      if (day.length == 1) {
                         day = "0" + day;
                     }
                     let month = (mm + 1).toString();
                      if (month.length == 1) {
                          month = "0" + month;
                      }
                     const tempStr = yy.toString() + "-" + month + "-" + day.toString();
                      console.log(tempStr);
                      for (var i = 0; i < symptomHistory.length; i++) {
                          if (symptomHistory[i].pk.date == tempStr) {
                             return tempStr;
                         }
                       }
                      return null;
                 }


                //그날 증상에 따른 기분
                function getTodaySymptom(day) {

                    if (day.length == 1) {
                        day = "0" + day;
                    }
                    let month = (mm + 1).toString();
                    if (month.length == 1) {
                        month = "0" + month;
                    }
                    const tempStr = yy.toString() + "-" + month + "-" + day.toString();
                    console.log(tempStr);
                    for (var i = 0; i < symptomHistory.length; i++) {
                        if (symptomHistory[i].pk.date == tempStr) {
                            return symptomHistory[i].todaysymptom;
                        }
                    }
                    return null;
                }

                //그날 년도
                function getdayyear(day) {

                    if (day.length == 1) {
                        day = "0" + day;
                    }
                    let month = (mm + 1).toString();
                    if (month.length == 1) {
                        month = "0" + month;
                    }
                    const tempStr = yy.toString() + "-" + month + "-" + day.toString();
                    const tempyear = yy.toString();
                    console.log(tempStr);
                    for (var i = 0; i < symptomHistory.length; i++) {
                        if (symptomHistory[i].pk.date == tempStr) {
                            return tempyear;
                        }
                    }
                    return null;
                }

                //그날 월
                function getdaymonth(day) {

                    if (day.length == 1) {
                        day = "0" + day;
                    }
                    let month = (mm + 1).toString();
                    if (month.length == 1) {
                        month = "0" + month;
                    }
                    const tempStr = yy.toString() + "-" + month + "-" + day.toString();
                    const tempmonth = month;
                    console.log(tempStr);
                    for (var i = 0; i < symptomHistory.length; i++) {
                        if (symptomHistory[i].pk.date == tempStr) {
                            return tempmonth;
                        }
                    }
                    return null;
                }

                //그날 일
                function getday(day) {

                    if (day.length == 1) {
                        day = "0" + day;
                    }
                    let month = (mm + 1).toString();
                    if (month.length == 1) {
                        month = "0" + month;
                    }
                    const tempStr = yy.toString() + "-" + month + "-" + day.toString();
                    const tempday = day.toString();
                    console.log(tempStr);
                    for (var i = 0; i < symptomHistory.length; i++) {
                        if (symptomHistory[i].pk.date == tempStr) {
                            return tempday;
                        }
                    }
                    return null;
                }

                //그날 요일
                function getDayOfWeek(year, month, day) {
                    // month 파라미터는 1부터 12 사이의 값을 가져야 하므로, 실제 입력된 month 값에서 1을 뺍니다.
                    const date = new Date(year, month - 1, day);
                    const days = ['일', '월', '화', '수', '목', '금', '토'];
                    return days[date.getDay()];
                }

                // 오늘 날짜를 가져오는 함수
                function getTodayDate() {
                    var today = new Date();
                    var yy = today.getFullYear();
                    var mm = today.getMonth() + 1; // 월은 0부터 시작하므로 1을 더해줌
                    var dd = today.getDate();

                    // 월과 일이 한 자리 숫자인 경우 앞에 0을 추가하여 두 자리로 만듦
                    var monthStr = mm < 10 ? "0" + mm : mm.toString();
                    var dayStr = dd < 10 ? "0" + dd : dd.toString();

                    return yy + "-" + monthStr + "-" + dayStr;
                }

                //증상 볼 수 있는 팝업창
                function symptompopup(sum, text, month, day, week, date) {
                    $("#layerSelectType").show();
                    $("#dim").show();

                    // 선택 요소 가져오기
                    const recordFaceElement = $(".record-face1, .record-face2, .record-face3,.record-face4");

                    if (sum === 0) {
                        // 증상 개수가 0인 경우에 해당하는 클래스 추가
                        recordFaceElement.addClass("record-face1");
                        Item = "<span>" + month + "월 " + day + "일 " + week + "요일 </span>";
                        $('#popUp1').append(Item);
                        Item2 = "<span class=\"bold\">'" + text + "'</span> <br>";
                        $('#popUp2').append(Item2);
                        console.log("6", Item2);

                    } else if (sum === 1) {
                        // 증상 개수가 1인 경우에 해당하는 클래스 추가
                        recordFaceElement.addClass("record-face2");
                        Item = "<span>" + month + "월 " + day + "일 " + week + "요일 </span>";
                        $('#popUp1').append(Item);
                        Item2 = "<span class=\"bold\">'" + text + "'</span> <br>";
                        $('#popUp2').append(Item2);

                    } else if (sum === 2) {
                        // 증상 개수가 2인 경우에 해당하는 클래스 추가
                        recordFaceElement.addClass("record-face3");
                        Item = "<span>" + month + "월 " + day + "일 " + week + "요일 </span>";
                        $('#popUp1').append(Item);
                        Item2 = "<span class=\"bold\">'" + text + "'</span> <br>";
                        $('#popUp2').append(Item2);
                    } else if (sum == 3) {
                        // 증상 개수가 3인 경우에 해당하는 클래스 추가
                        recordFaceElement.addClass("record-face3");
                        Item = "<span>" + month + "월 " + day + "일 " + week + "요일 </span>";
                        $('#popUp1').append(Item);
                        Item2 = "<span class=\"bold\">'" + text + "'</span> <br>";
                        $('#popUp2').append(Item2);
                    } else if (sum == 4) {
                        // 증상 개수가 4인 경우에 해당하는 클래스 추가
                        recordFaceElement.addClass("record-face4");
                        Item = "<span>" + month + "월 " + day + "일 " + week + "요일 </span>";
                        $('#popUp1').append(Item);
                        Item2 = "<span class=\"bold\">'" + text + "'</span> <br>";
                        $('#popUp2').append(Item2);
                    }


                    $("#buttonNo").click(function () {
                        $("#layerSelectType").hide();
                        $("#dim").hide();
                        console.log("a");
                        deleteSymtomData(date);
                        console.log("b");
                        window.location.reload();
                        return false;
                    });

                    $("#buttonOk").click(function () {
                        modify(month, day, week, date);
                    });


                    // function modify(date) {
                    //
                    //     // $("#symptommodify").hide();
                    //     // $("#dim").hide();
                    //
                    //     // 기존 텍스트 가져오기 (이 부분은 알맞게 서버에서 텍스트를 가져오는 코드로 대체해야합니다)
                    //     const oldText = symptomtext;// 서버에서 가져온 기존 텍스트
                    //
                    //     $("#popUp22").text(oldText);
                    //     $("#symptommodify").show();
                    //     $("#dim").show();
                    //
                    //     $("#button").click(function () {
                    //         // 수정된 텍스트를 가져옵니다.
                    //         const newText = $("#editText").val();
                    //         if (newText !== null) {
                    //
                    //             const dateToEdit = date; // 수정하려는 날짜를 설정
                    //             saveEditedTextToServer(dateToEdit, newText);
                    //         }
                    //         // 팝업을 닫습니다.
                    //         $("#symptommodify").hide();
                    //         $("#dim").hide();
                    //     });
                    //
                    //     //     // prompt로 텍스트 수정 입력란 띄우기
                    //     //     const newText = prompt("텍스트 수정", oldText);
                    //     //
                    //     //     // 수정된 텍스트가 있다면 서버에 보내고 저장하는 등의 작업을 수행합니다
                    //     //     if (newText !== null) {
                    //     //         const dateToEdit=tempStr;
                    //     //         saveEditedTextToServer(dateToEdit, newText);
                    //     //     }
                    //     //     // 서버에 newText를 보내고 저장하는 코드를 추가하세요.
                    //     //     console.log("수정된 텍스트:", newText);
                    //     // }
                    //
                    //
                    //     //string으로 날짜 받아서 보내주기
                    //     const getAjax = function (url, date, newText) {
                    //         return new Promise((resolve, reject) => { // 1.
                    //             console.log("a");
                    //             $.ajax({
                    //                 url: url,
                    //                 type: "POST",
                    //                 dataType: "json",
                    //                 contentType: 'application/json; charset=utf-8',
                    //                 data: ({
                    //                     date,
                    //                     newText
                    //                 }),
                    //                 success: (res) => {
                    //                     resolve(res);  // 2.
                    //                 },
                    //                 error: (e) => {
                    //                     reject(e);  // 3.
                    //                 }
                    //             });
                    //         });
                    //     }
                    //
                    //     // 서버에 수정된 텍스트를 보내고 저장하는 함수
                    //     async function saveEditedTextToServer(date, newText) {
                    //
                    //         const url = "/modifyData";
                    //         try {
                    //
                    //             const symptommodifyData = await getAjax(url, date, newText);
                    //             console.log(symptommodifyData);
                    //             return symptommodifyData;
                    //         } catch (e) {
                    //             console.log(e);
                    //         }
                    //
                    //         console.log("날짜:", date);
                    //         console.log("새로운 텍스트:", newText);
                    //     }
                    // }
                }

</script>
</body>
</html>