<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/alarm/alarm.css}" rel="stylesheet">
    <script th:src="@{/js/weight/weight.js}"></script>
    <title>체중</title>
</head>
<body>
<input type="hidden" id="weight-history-get-action" th:attr="value=@{/weight-history}">
<input type="hidden" id="weight-put-action" th:attr="value=@{/weight-history}">
<div th:replace="header :: #header"></div>
<div id="body">
    <form id="weight-form" th:action="@{/weight}" onsubmit="return onFormSubmission(this);">
        <div>체중</div>
        <div>
            <p>매일 같은 시간에 체중을 측정해주세요.</p>
            <!-- 환자가 로그인 중 -->
            <div th:if="${type} == ${T(withus.entity.User.Type).PATIENT}">
                <input
                        type="text" name="weight" onkeypress="return isNumberKey(event)"
                        onkeyup="this.value=this.value.replace(/[\ㄱ-ㅎㅏ-ㅣ가-힣]/g, '');"
                        value="0" th:value="${weight}" text = "kg">
            </div>
            <!-- 보호자가 로그인 중 -->
            <div  th:if="${type} == ${T(withus.entity.User.Type).CAREGIVER}">
                <input
                        type="text" name="weight" th:value="${weight}" text = "kg" disabled>
            </div>
        </div>

        <div  th:if="${type} == ${T(withus.entity.User.Type).PATIENT}">
            <input type="submit" value="저장">
        </div>
        <div  th:if="${type} == ${T(withus.entity.User.Type).CAREGIVER}">
            <input type="submit" value="저장" disabled>
        </div>
    </form>
    <div>
        <button id="history" type="button" onclick="showWeightHistory();">체중변화 관찰</button>
    </div>
</body>
</html>
