<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>위더스</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
	<meta name="format-detection" content="telephone=no">
	<link th:href="@{/css/reset.css}" rel="stylesheet">
	<link th:href="@{/css/common.css}" rel="stylesheet">
	<link th:href="@{/css/layout.css}" rel="stylesheet">
	<script th:src="@{/js/jquery-1.12.4.min.js}"></script>
	<script th:src="@{/js/common.js}"></script>
	<script th:src="@{/js/help.js}"></script>
	<script src="https://kit.fontawesome.com/e381c8a508.js" crossorigin="anonymous"></script>

</head>
<body>
<input type="hidden" id="button-count" th:attr="value=@{/button-count}">
<input type="hidden" id="helper-request" th:attr="value=@{/helper-request}">
<div class="skip-navi">
	<a href="#content">본문 바로가기</a>
</div>
<div th:if="${user.type} == ${T(withus.entity.User.Type).PATIENT} and ${user.week} != 25">
	<input type = 'hidden' name = "symptom"           th:value = "${count.symptom}" style = "display:none">
	<input type = 'hidden' name = "alarm"             th:value = "${count.alarm}" style = "display:none">
	<input type = 'hidden' name = "blood"             th:value = "${count.bloodPressure}" style = "display:none">
	<input type = 'hidden' name = "disease"           th:value = "${count.diseaseInfo}" style = "display:none">
	<input type = 'hidden' name = "exercise"          th:value = "${count.exercise}" style = "display:none">
	<input type = 'hidden' name = "goal"              th:value = "${count.goal}" style = "display:none">
	<input type = 'hidden' name = "helper"            th:value = "${count.helper}" style = "display:none">
	<input type = 'hidden' name = "level"             th:value = "${count.level}" style = "display:none">
	<input type = 'hidden' name = "natriumMoisture"   th:value = "${count.natriumMoisture}" style = "display:none">
	<input type = 'hidden' name = "weight"            th:value = "${count.weight}" style = "display:none">
	<input type = 'hidden' name = "withusRang"        th:value = "${count.withusRang}" style = "display:none">
</div>
<!-- wrap -->
<div id="wrap" class="list-page">

	<!-- header -->
	<header>
		<div class="header-wrap type02">
			<div class="head" th:if="${user.type} == ${T(withus.entity.User.Type).PATIENT} and ${user.week} != 25">
				<div onclick="helperRequest()" >
					<a class="btn xsm type07" href="tel:010-8454-9186" th:onclick="'addHelper(parseInt(' + ${count.helper} + '))'" >
						<span class="ico-call" ></span>
						<span class="txt-rt">도우미</span>
					</a>
				</div>
				<h2>알람</h2>

				<div class="col text-end" style="font-size: 20px; margin-top: 0.73vh;">
					<a th:href="@{/center}" class="align-middle"><i class="fa-solid fa-house fa-xl" style="color: #FFFFFF;"></i></a>
				</div>
			</div>
			<div class="head" th:if="${user.type} == ${T(withus.entity.User.Type).CAREGIVER} or ${user.week} == 25">
				<div onclick="helperRequest()" >
					<a class="btn xsm type07" href="tel:010-8454-9186">
						<span class="ico-call" ></span>
						<span class="txt-rt">도우미</span>
					</a>
				</div>
				<h2>알람</h2>
				<div class="col text-end" style="font-size: 20px; margin-top: 0.73vh;">
					<a th:href="@{/center}" class="align-middle"><i class="fa-solid fa-house fa-xl" style="color: #FFFFFF;"></i></a>
				</div>
			</div>

		</div>
	</header>
	<!-- // header -->

	<!-- content -->
	<div class="container" id="content">
		<div class="cont-wrap">
			<a href="#" class="list-card" th:href="@{/medicationAlarm.html}">
				<span class="ico-drug"></span>
				<span class="btn xxlg arrow-type01">복약</span>
			</a>
			<a href="#" class="list-card" th:href="@{/appointments}">
				<span class="ico-date"></span>
				<span class="btn xxlg arrow-type01">외래 방문 시간</span>
			</a>
		</div>
	</div>
	<!-- // content -->

</div>
<!--// wrap -->

</body>
</html>
