<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/header.css}" rel="stylesheet">
	<link th:href="@{/css/alarm/appointments.css}" rel="stylesheet">
	<script th:src="@{/js/alarm/appointments.js}"></script>
	<title>외래 방문 시간</title>
</head>
<body>
<div th:replace="header :: #header"></div>
<div id="body">
	<!-- TODO: 보호자일 경우 immutable 하도록 -->
	<form id="appointment-form" th:action="@{/appointment}" onsubmit="return onFormSubmission(this);">
		<div>Visit Patient Time On/Off</div>
		<div id="date">
			<p>Calender plugin</p><br>
			<p>Select Date</p>
			<input type="date" name="outPatientVisitDate"><br>
			<p>Select Time</p>
			<input type="time" name="outPatientVisitTime"><br>
			<p>Alarm On/Off CheckBox</p>
			<input type="checkbox" name="visitAlarm">
		</div>
		<input type="submit" value="저장">
	</form>
</div>
</body>
</html>
