<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/header.css}" rel="stylesheet">
	<link th:href="@{/css/alarm/pill.css}" rel="stylesheet">
	<script th:src="@{/js/alarm/pill.js}"></script>
	<title>복약 기록</title>

</head>
<body>
	<div th:replace="header :: #header"></div>
	<p>Calender plugin</p>
	<p>---------------</p>
	<p>---------------</p>
	<p>-----달력-----</p>
	<p>---------------</p>
	<p>---------------</p>
	<p>달력 있다 치고.. 밑에 기록들</p>
	<div th:each="pillHistory: ${pillHistories}">
		<div th:text="${pillHistory.pk.id} + ' ' + ${pillHistory.pk.date} + ' : 복용'"></div>

		<!--<div th:text="${pillHistory.dateString} + ': 복용'"></div>-->
	</div>
</body>
</html>
