<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="kr">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/alarm/pill.css}" rel="stylesheet">
    <title>복약</title>

</head>

<body>
<input type="hidden" id="bloodPressure-history-get-action" th:attr="value=@{/bloodPressure-history}">

<div th:replace="header :: #header"></div>
<div id="body">
    <div id="body-title">혈압/맥박</div>

    <!-- 처음 등록을 진행한 후, 이 버튼은 보여지면 안됨 -->
    <br>
    <div>주간 정보</div>
    <div th:each="bloodPressureHistory: ${bloodWeek}">
        <div th:text="'유저 이름 :' + ${bloodPressureHistory.pk.id} + '       날짜 :' + ${bloodPressureHistory.pk.date}   + '       맥박 :' + ${bloodPressureHistory.contraction}+'/'
            + ${bloodPressureHistory.relaxation} + '       혈압 : '+ ${bloodPressureHistory.pressure}" ></div>
    </div>
</div>
</body>
</html>
