<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>위더스</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no">
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <link th:href="@{/css/layout.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/bloodPressure/bloodPressure.js}"></script>
</head>
<body>
<div class="skip-navi">
    <a href="#content">본문 바로가기</a>
</div>
<div id="wrap" class="insert-page">
    <!-- header -->
    <header>
        <div class="header-wrap type01">
            <div class="head">
                <a class="btn xsm type07" href="tel:02-820-5198">
                    <span class="ico-call"></span>
                    <span class="txt-rt">도우미</span>
                </a>
                <h2>
                    <span class="ico-blood-s"></span>
                    <span>혈압/맥박</span>
                </h2>
            </div>
        </div>
    </header>
    <!-- // header -->

    <input type="hidden" id="bloodPressure-history-get-action" th:attr="value=@{/bloodPressure-all-history}">
    <div id="body">
        <form id="bloodPressure-form" th:action="@{/bloodPressure}" onsubmit="return onFormSubmission(this);">
            <div id="date"  th:if="${type} == ${T(withus.entity.User.Type).PATIENT}">
                <p>Input Contraction/relaxation</p>
                <p>
                    <input type="number"  th:value="${contraction}"  name="contraction">
                    <input type="number"  th:value="${relaxation}"  name="relaxation">mm/Hg
                </p>
                <p>Input Pressure</p>
                <p>
                    <input type="number"  th:value="${pressure}"  name="pressure">(회/분)
                </p>
                <input type="submit" value="Save >.<">
            </div>

            <div id="date"  th:if="${type} == ${T(withus.entity.User.Type).CAREGIVER}">
                <p>Input Contraction/relaxation</p>
                <p>
                    <input type="number"  th:value="${contraction}"  name="contraction" disabled>
                    <input type="number"  th:value="${relaxation}"  name="relaxation" disabled>mm/Hg
                </p>
                <p>Input Pressure</p>
                <p>
                    <input type="number"  th:value="${pressure}"  name="pressure" disabled>(회/분)
                </p>
                <input type="submit" value="Save >.<" disabled>
            </div>
        </form>
        <div>
            <br>
            <button id="exerciseRecord" type="button" onclick="showHistory();">혈압맥박기록</button>
        </div>
    </div>

</div>
</body>
</html>
