<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>위더스</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no">
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <link th:href="@{/css/layout.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/bloodPressure/bloodPressure.js}"></script>
    <script th:src="@{/js/help.js}"></script>
    <script th:src="@{/js/durationTime.js}"></script>
    <script th:src="@{/js/input_limit.js}"></script>
    <script src="https://kit.fontawesome.com/e381c8a508.js" crossorigin="anonymous"></script>
    <style>
        .slide { user-select: none;}
    </style>
</head>
<body>
<input th:if="${type} == ${T(withus.entity.User.Type).PATIENT} and ${week} != 25 " type="hidden" id="button-count" th:attr="value=@{/patient-main-button-count}">
<input th:if="${type} == ${T(withus.entity.User.Type).CAREGIVER} and ${week} != 25 " type="hidden" id="button-count" th:attr="value=@{/caregiver-main-button-count}">
<input type="hidden" id="helper-request" th:attr="value=@{/helper-request}">
<div class="skip-navi">
    <a href="#content">본문 바로가기</a>
</div>
<div th:if="${type} == ${T(withus.entity.User.Type).PATIENT} and ${week} != 25 ">
    <input type = 'hidden' name = "symptom"           th:value = "${patientCount.symptom}" style = "display:none">
    <input type = 'hidden' name = "alarm"             th:value = "${patientCount.alarm}" style = "display:none">
    <input type = 'hidden' name = "bloodPressure"             th:value = "${patientCount.bloodPressure}" style = "display:none">
    <input type = 'hidden' name = "diseaseInfo"           th:value = "${patientCount.diseaseInfo}" style = "display:none">
    <input type = 'hidden' name = "exercise"          th:value = "${patientCount.exercise}" style = "display:none">
    <input type = 'hidden' name = "goal"              th:value = "${patientCount.goal}" style = "display:none">
    <input type = 'hidden' name = "helper"            th:value = "${patientCount.helper}" style = "display:none">
    <input type = 'hidden' name = "level"             th:value = "${patientCount.level}" style = "display:none">
    <input type = 'hidden' name = "natriumMoisture"   th:value = "${patientCount.natriumMoisture}" style = "display:none">
    <input type = 'hidden' name = "weight"            th:value = "${patientCount.weight}" style = "display:none">
    <input type = 'hidden' name = "withusRang"        th:value = "${patientCount.withusRang}" style = "display:none">
    <input type = 'hidden' name = "medicine"        th:value = "${patientCount.medicine}" style = "display:none">
    <input type = 'hidden' name = "board"        th:value = "${patientCount.board}" style = "display:none">
    <input type = 'hidden' name = "infoEdit"        th:value = "${patientCount.infoEdit}" style = "display:none">
    <input type = 'hidden' name = "mindHealth"        th:value = "${patientCount.mindHealth}" style = "display:none">
</div>
<div th:if="${type} == ${T(withus.entity.User.Type).CAREGIVER} and ${week} != 25 ">
    <input type = 'hidden' name = "alarm"             th:value = "${caregiverCount.alarm}" style = "display:none">
    <input type = 'hidden' name = "bloodPressure"             th:value = "${caregiverCount.bloodPressure}" style = "display:none">
    <input type = 'hidden' name = "diseaseInfo"           th:value = "${caregiverCount.diseaseInfo}" style = "display:none">
    <input type = 'hidden' name = "exercise"          th:value = "${caregiverCount.exercise}" style = "display:none">
    <input type = 'hidden' name = "goal"              th:value = "${caregiverCount.goal}" style = "display:none">
    <input type = 'hidden' name = "helper"            th:value = "${caregiverCount.helper}" style = "display:none">
    <input type = 'hidden' name = "level"             th:value = "${caregiverCount.level}" style = "display:none">
    <input type = 'hidden' name = "weight"            th:value = "${caregiverCount.weight}" style = "display:none">
    <input type = 'hidden' name = "withusRang"        th:value = "${caregiverCount.withusRang}" style = "display:none">
    <input type = 'hidden' name = "familyObservation"        th:value = "${caregiverCount.familyObservation}" style = "display:none">
    <input type = 'hidden' name = "dietManagement"        th:value = "${caregiverCount.dietManagement}" style = "display:none">
    <input type = 'hidden' name = "mindHealth"        th:value = "${caregiverCount.mindHealth}" style = "display:none">
    <input type = 'hidden' name = "board"        th:value = "${caregiverCount.board}" style = "display:none">
    <input type = 'hidden' name = "infoEdit"        th:value = "${caregiverCount.infoEdit}" style = "display:none">
    <input type = 'hidden' name = "medicine"           th:value = "${caregiverCount.medicine}" style = "display:none">
</div>
<div id="wrap" class="insert-page">
    <!-- header -->
    <header>
        <div class="header-wrap type01">
            <div class="head" th:if="${type} == ${T(withus.entity.User.Type).PATIENT} and ${week} != 25 ">
                <div onclick="helperRequest()" >
                    <a class="btn xsm type07" href="tel:010-8454-9186" onclick="addHelper()" >
                        <span class="ico-call" ></span>
                        <span class="txt-rt">도우미</span>
                    </a>
                </div>
                <h2>
                    <span class="ico-blood-s"></span>
                    <span>혈압/맥박</span>
                </h2>
                <div class="col text-end" style="font-size: 20px; margin-top: 0.73vh;">
                    <a th:href="@{/center}" class="align-middle"><i class="fa-solid fa-house fa-xl" style="color: #00b050;"></i></a>
                </div>
            </div>
            <div class="head" th:if="${type} == ${T(withus.entity.User.Type).CAREGIVER} or ${week} == 25">
                <div onclick="helperRequest()" >
                    <a class="btn xsm type07" href="tel:010-8454-9186">
                        <span class="ico-call" ></span>
                        <span class="txt-rt">도우미</span>
                    </a>
                </div>
                <h2>
                    <span class="ico-blood-s"></span>
                    <span>혈압/맥박</span>
                </h2>
                <div class="col text-end" style="font-size: 20px; margin-top: 0.73vh;">
                    <a th:href="@{/center}" class="align-middle"><i class="fa-solid fa-house fa-xl" style="color: #00b050;"></i></a>
                </div>
            </div>
        </div>
    </header>
    <!-- // header -->

    <!-- content -->
    <div class="container" id="content">
        <form id="bloodPressure-form" th:action="@{/bloodPressure}" onsubmit="return onFormSubmission(this);">
            <div class="cont-wrap type01">
                <div class="insert-wrap">
                    <div class="tit-img ico-blood-l"></div>
                    <div class="field-wrap type04">
                        <div class="field">
                            <label for="input1">혈압:수축기/이완기</label>
                            <input type="hidden" id="bloodPressure-history-get-action" th:attr="value=@{/bloodPressure-all-history}">
                            <div class="insert" id="date"  th:if="${type} == ${T(withus.entity.User.Type).PATIENT} and ${week} != 25">
                                <input type="number" class="num3" id="input1" th:value="${contraction}" min="40" max="200" placeholder="--" name="contraction" maxlength="3" oninput="maxLengthCheck(this)" >
                                <span class="bar">/</span>
                                <input type="number" class="num3" id="input2" th:value="${relaxation}" min="40" max="200" placeholder="--" name="relaxation" maxlength="3" oninput="maxLengthCheck(this)">
                                <span>mmHg</span>
                            </div>
                            <div class="insert" id="date"  th:if="${type} == ${T(withus.entity.User.Type).CAREGIVER} or ${week} == 25">
                                <input type="number" class="num3" id="input1" th:value="${contraction}" min="40" max="200" placeholder="--" name="contraction" maxlength="3" oninput="maxLengthCheck(this)" >
                                <span class="bar">/</span>
                                <input type="number" class="num3" id="input2" th:value="${relaxation}" min="40" max="200" placeholder="--" name="relaxation" maxlength="3" oninput="maxLengthCheck(this)">
                                <span>mmHg</span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="input2">맥박수</label>
                            <div class="insert" th:if="${type} == ${T(withus.entity.User.Type).PATIENT} and ${week} != 25">
                                <input type="number" id="input2" class="num3" th:value="${pressure}" min="40" max="200" placeholder="--" name="pressure" maxlength="3" oninput="maxLengthCheck(this)">
                                <span>(회/분)</span>
                            </div>
                            <div class="insert" th:if="${type} == ${T(withus.entity.User.Type).CAREGIVER} or ${week} == 25">
                                <input type="number" id="input2" class="num3" th:value="${pressure}" min="40" max="200" placeholder="--" name="pressure" maxlength="3" oninput="maxLengthCheck(this)">
                                <span>(회/분)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${type} == ${T(withus.entity.User.Type).PATIENT} and ${week} != 25" class="btn-wrap2 grid4">
                    <button id="saveButton" class="btn xlg1 type01" onclick="bloodPressure_caregiver()">보호자에게 알림</button>
                    <button type="submit" class="btn xlg1 type01">저장</button>
                </div>
                <div th:if="${type} == ${T(withus.entity.User.Type).CAREGIVER} or ${week} == 25" class="btn-wrap type01">
                    <button class="btn xlg type02" type="submit">저장</button>
                </div>
            </div>
            <div class="dim-layer" style="display: none" id="dim"></div>
        </form>
    </div>
    <div class="popup pop-type01" id="layerSelectType" style="display: none">
        <div class="pop-wrap">
            <!-- <a href="javascript:void(0);" class="pop-close"></a> -->
            <div class="popup-header"></div>
            <div class="popup-body">
                <!--                <div class="pop-tit" id="popUp1">-->
                <!--                </div>-->
                <div class="pop-cont" id="popUp2">
                </div>

            </div>
            <div id="buttonCaregiverType" class="btn-wrap grid2" style="display:none" >
                <button class="btn xlg type07" id="buttonNo">아니요</button>
                <button class="btn xlg type02" id="buttonOk">저장 및 알림</button>
            </div>
            <div id="buttonRecordType" class="btn-wrap grid1" style="display:none">
                <button class="btn xlg type02" id="buttonCheck" style="border-radius:0px 0px 10px 10px;">확인</button>
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer>
        <div class="footer-wrap">
            <div class="btn-wrap type02">
                <span class="btn xlg arrow-type02" onclick="showHistory();">
                    <span>혈압/맥박 기록</span>
                    <span class="ico-arrow2"></span>
                </span>
            </div>
        </div>
    </footer>
    <!-- // footer -->


</div>
</body>
<script>
    start("BLOOD_PRESSURE");
</script>
</html>
