<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="kr">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <script th:src="@{/js/bloodPressure/bloodPressure.js}"></script>
    <title>혈압맥박 측정</title>
</head>
<body>
<input type="hidden" id="bloodPressure-history-get-action" th:attr="value=@{/bloodPressure-all-history}">
<div th:replace="header :: #header"></div>
<div id="body">
    <!-- TODO: 보호자일 경우 immutable 하도록 -->
    <form id="bloodPressure-form" th:action="@{/bloodPressure}" onsubmit="return onFormSubmission(this);">
        <div id="date"  th:if="${type} == ${T(withus.entity.User.Type).PATIENT}">
            <p>Input Contraction/relaxation</p>
                <p>
                    <input type="number"  th:value="${contraction}"  name="contraction">
                    <input type="number"  th:value="${relaxation}"  name="relaxation">mm/Hg
                </p>
            <p>Input Pressure</p>
                <p>
                    <input type="number"  th:value="${pressure}"  name="pressure">(회/분)
                </p>
            <input type="submit" value="Save >.<">
        </div>

        <div id="date"  th:if="${type} == ${T(withus.entity.User.Type).CAREGIVER}">
            <p>Input Contraction/relaxation</p>
            <p>
                <input type="number"  th:value="${contraction}"  name="contraction" disabled>
                <input type="number"  th:value="${relaxation}"  name="relaxation" disabled>mm/Hg
            </p>
            <p>Input Pressure</p>
            <p>
                <input type="number"  th:value="${pressure}"  name="pressure" disabled>(회/분)
            </p>
            <input type="submit" value="Save >.<" disabled>
        </div>
    </form>
    <div>
        <br>
        <button id="exerciseRecord" type="button" onclick="showHistory();">혈압맥박기록</button>
    </div>
</div>
</body>
</html>
