<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>위더스</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
  <meta name="format-detection" content="telephone=no">
  <link th:href="@{/css/reset.css}" rel="stylesheet">
  <link th:href="@{/css/common.css}" rel="stylesheet">
  <link th:href="@{/css/layout.css}" rel="stylesheet">
  <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
  <script th:src="@{/js/common.js}"></script>
<!--  <script th:src="@{/js/goal/goaloption.js}"></script>-->
  <script th:src="@{/js/goal/goal.js}"></script>
  <script th:src="@{/js/help.js}"></script>

  <style>
    /* 스타일을 적용할 클래스나 ID 선택자를 선택합니다. */
    #activityDropdown {
      position: relative;
    }

    /* 드롭다운 목록 옆에 "항목" 텍스트를 추가합니다. */
    #activityDropdown::after {
      content: "항목";
      position: absolute;
      top: 0;
      right: -50px; /* "항목" 텍스트와 드롭다운 목록 간의 간격을 조절합니다. */
      padding: 5px;
      background-color: #f0f0f0;
      border: 1px solid #ccc;
      border-left: none;
      border-radius: 0 4px 4px 0;
    }

  </style>

</head>
<body>
<input type="hidden" id="button-count" th:attr="value=@{/button-count}">
<input type="hidden" id="helper-request" th:attr="value=@{/helper-request}">
<div class="skip-navi">
  <a href="#content">본문 바로가기</a>
</div>

<!-- wrap -->
<div id="wrap" class="todo-page">

  <!-- header -->
  <header>
    <div class="header-wrap type02" th:if="${type} == ${T(withus.entity.User.Type).PATIENT} and ${week} != 25 ">
      <div class="head">
        <div onclick="helperRequest()" >
          <a class="btn xsm type07" href="tel:010-8454-9186" th:onclick="'addHelper(parseInt(' + ${count.helper} + '))'" >
            <span class="ico-call" ></span>
            <span class="txt-rt">도우미</span>
          </a>
        </div>
        <h2>
          <span>목표 리스트</span>
        </h2>
      </div>
    </div>
    <div class="header-wrap type02" th:if="${type} == ${T(withus.entity.User.Type).CAREGIVER} or ${week} == 25">
      <div class="head">
        <div onclick="helperRequest()" >
          <a class="btn xsm type07" href="tel:010-8454-9186">
            <span class="ico-call" ></span>
            <span class="txt-rt">도우미</span>
          </a>
        </div>
        <h2>
          <span>목표 리스트</span>
        </h2>
      </div>
    </div>
  </header>
  <div th:if="${type} == ${T(withus.entity.User.Type).PATIENT} and ${week} != 25 ">
    <input type = 'hidden' name = "symptom"           th:value = "${count.symptom}" style = "display:none">
    <input type = 'hidden' name = "alarm"             th:value = "${count.alarm}" style = "display:none">
    <input type = 'hidden' name = "blood"             th:value = "${count.bloodPressure}" style = "display:none">
    <input type = 'hidden' name = "disease"           th:value = "${count.diseaseInfo}" style = "display:none">
    <input type = 'hidden' name = "exercise"          th:value = "${count.exercise}" style = "display:none">
    <input type = 'hidden' name = "goal"              th:value = "${count.goal}" style = "display:none">
    <input type = 'hidden' name = "helper"            th:value = "${count.helper}" style = "display:none">
    <input type = 'hidden' name = "level"             th:value = "${count.level}" style = "display:none">
    <input type = 'hidden' name = "natriumMoisture"   th:value = "${count.natriumMoisture}" style = "display:none">
    <input type = 'hidden' name = "weight"            th:value = "${count.weight}" style = "display:none">
    <input type = 'hidden' name = "withusRang"        th:value = "${count.withusRang}" style = "display:none">
  </div>
  <!-- content -->
  <div class = "container" id="content1" th:if = "${type} == ${T(withus.entity.User.Type).PATIENT} ">
    <div class="goalbox-wrap" style="background: linear-gradient(to right, green, yellow, orange, red);">
      <p class="goalbox-tit">나만의 목표</p>
    </div>
<!--    <div class="cont-wrap type01">-->
      <div class="rdo-wrap grid-col type02">
        <form id="appointment-form" th:action="@{/goal0}" onsubmit="return onFormSubmission(this);">
          <div>
          <a>항목</a>
        <select id="goalDropdown" name="goaloption">
          <div class="field">
            <label> 목표종류 </label>
            <option value="none">선택</option>
            <option id ="goaloption1" value="복약">복약</option>
            <option id ="goaloption2" value="혈압/맥박">혈압/맥박</option>
            <option id ="goaloption3" value="운동">운동</option>
            <option id ="goaloption4" value="증상일지">증상일지</option>
            <option id ="goaloption5" value="염분/수분">염분/수분</option>
            <option id ="goaloption6" value="수분">수분</option>
            <option id ="goaloption7" value="체중">체중</option>
            <option id ="goaloption8" value="마음일기">마음일기</option>
          <!--                            <option value="aerobic">유산소운동</option>-->
          </div>
        </select>
          </div>

          <div>
          <a>기록</a> &nbsp;  <a> 주</a> &nbsp;&nbsp;&nbsp;
          <select id="weekDropdown" name="weekoption">
            <div class="field">
              <label> 기록 </label>
              <option value="none">선택</option>
              <option id ="week1" value="1회 이상">1회 이상</option>
              <option id ="week2" value="2회 이상">2회 이상</option>
              <option id ="week3" value="3회 이상">3회 이상</option>
              <option id ="week4" value="4회 이상">4회 이상</option>
              <option id ="week5" value="5회 이상">5회 이상</option>
              <option id ="week6" value="6회 이상">6회 이상</option>
              <option id ="week7" value="매일">매일</option>
            </div>
          </select>
          </div>

<!--          <div id="selectedOptionsContainer" th:if="${goaloption} == '복약' or ${goaloption} == '혈압/맥박' or ${goaloption} ==  '운동'" class="rdo-box " data-category="top">-->
<!--            <label>-->

<!--              <input type="checkbox" name="check_radio" onclick="radioClick()" >-->

<!--            </label>-->
<!--          </div>-->
<!--          <div id="selectedOptionsContainer" th:unless="${goaloption} == '복약' or ${goaloption} == '혈압/맥박' or ${goaloption} ==  '운동'" class="rdo-box" data-category="top">-->
<!--            <label>-->
<!--              <span class="rdo-mark"></span>-->
<!--              <input type="checkbox" name="check_radio" onclick="radioClick()" >-->

<!--            </label>-->
<!--          </div>-->


          <div id="selectedOptionsContainer" class="rdo-box selected-options-container"></div>
        <div class="goalbtn-container">
          <button type="submit" class="btn xlg type01"  name="submit_click">저장</button>
        </div>
      </form>
    </div>
    </div>
  </div>


<!--  <div class="popup pop-type01" id="layerSelectType" style="display: none">-->
<!--    <div class="pop-wrap">-->
<!--      &lt;!&ndash; <a href="javascript:void(0);" class="pop-close"></a> &ndash;&gt;-->
<!--      <div class="popup-header"></div>-->
<!--      <div class="popup-body">-->
<!--        <div class="pop-tit" id="popUp1">-->
<!--        </div>-->
<!--        <div class="pop-cont" id="popUp2">-->
<!--        </div>-->
<!--        <div class="pop-desc">목표를 변경하고 싶으면 ‘수정’ 버튼을 눌러주세요.</div>-->
<!--      </div>-->
<!--      <div class="btn-wrap grid2">-->
<!--        <button class="btn xlg type07" id="buttonNo">수정</button>-->
<!--        <button class="btn xlg type02" id="buttonOk">확인</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="dim-layer" style="display: none" id="dim"></div>-->





<!--  <div class = "container" id="content" th:if = "${type} == ${T(withus.entity.User.Type).CAREGIVER} ">-->
<!--    <div class="cont-wrap type01">-->
<!--      <div class="rdo-wrap grid-col type02">-->

</div>
</body>
</html>