<html layout:decorate="~{moistureNatrium/diet/layout}">
<div layout:fragment="content">
    <div class="container">
      <div>
        <img th:src="@{${diet.image}}">
      </div>
      <div>
        <h2 th:text="${diet.subject}"></h2>
      </div>
      <div>
        <p>재료</p>
        <p th:text="${diet.ingredient}"></p>
        <p>양념</p>
        <p th:text="${diet.sause}"></p>
      </div>

      <!-- steps -->
      <div>
        <div class="row mx-0" th:if="${diet.step1}">
          <div class="col">1</div>
          <div class="col" th:text="${diet.step1}"></div>
          <div class="col"></div>
        </div>
        <div class="row mx-0" th:if="${diet.step2}">
          <div class="col">2</div>
          <div class="col" th:text="${diet.step2}"></div>
          <div class="col"></div>
        </div>
        <div class="row mx-0" th:if="${diet.step3}">
          <div class="col">3</div>
          <div class="col" th:text="${diet.step3}"></div>
          <div class="col"></div>
        </div>
        <div class="row mx-0" th:if="${diet.step4}">
          <div class="col">4</div>
          <div class="col" th:text="${diet.step4}"></div>
          <div class="col"></div>
        </div>
        <div class="row mx-0" th:if="${diet.step5}">
          <div class="col">5</div>
          <div class="col" th:text="${diet.step5}"></div>
          <div class="col"></div>
        </div>
      </div>
      <!-- steps -->

      <div>
        <a th:href="@{/diet}">확인</a>
      </div>
    </div>
</div>
</html>