<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko-kr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>위더스</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
  <meta name="format-detection" content="telephone=no">
  <link th:href="@{/css/reset.css}" rel="stylesheet">
  <link th:href="@{/css/common.css}" rel="stylesheet">
  <link th:href="@{/css/layout.css}" rel="stylesheet">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" >
  <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
  <script th:src="@{/js/common.js}"></script>
  <script th:src="@{/js/help.js}"></script>
  <!-- buttonCount JS -->
  <script th:src="@{/js/home.js}"></script>
  <script th:src="@{/js/subButton.js}"></script>
  <script th:src="@{/js/detailButton.js}"></script>
  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/e381c8a508.js" crossorigin="anonymous"></script>
</head>
<body>
  <input type="hidden" id="button-count" th:attr="value=@{/button-count}">
  <input type="hidden" id="helper-request" th:attr="value=@{/helper-request}">
  <div class="skip-navi">
    <a href="#content">본문 바로가기</a>
  </div>
  <!-- wrap -->
  <div id="wrap" class="list-page">

    <!-- header -->
    <header>
      <div class="header-wrap type02">
        <div class="head" th:if="${type.toString().equals('PATIENT') and user.week != 25}">
          <div onclick="helperRequest()" >
            <a class="btn xsm type07" href="tel:010-8454-9186" onclick="addHelper()" >
              <span class="ico-call" ></span>
              <span class="txt-rt">도우미</span>
            </a>
          </div>
          <h2>식단추천</h2>
          <a th:href="@{/center}"><i class="fa-solid fa-house fa-2xl" style="color: #ffffff;"></i></a>
        </div>
        <div class="head" th:if="${type.toString().equals('CAREGIVER') or user.week == 25}">
          <div onclick="helperRequest()" >
            <a class="btn xsm type07" href="tel:010-8454-9186" onclick="addHelper()">
              <span class="ico-call"></span>
              <span class="txt-rt">도우미</span>
            </a>
          </div>
          <h2>식단추천</h2>
          <a th:href="@{/center}"><i class="fa-solid fa-house fa-2xl" style="color: #ffffff;"></i></a>
        </div>
      </div>
    </header>
    <!-- header -->

    <!-- content -->
    <th:block layout:fragment="content"></th:block>
    <!--  content -->

    <!-- buttonCount -->
    <input type="hidden" id="button-count" th:if="${type} == ${T(withus.entity.User.Type).PATIENT} and ${week} != 25" th:attr="value=@{/patient-detail-button-count}">
    <input type="hidden" id="button-count" th:if="${type} == ${T(withus.entity.User.Type).CAREGIVER} and ${week} != 25" th:attr="value=@{/caregiver-detail-button-count}">

    <div th:if="${type} == ${T(withus.entity.User.Type).PATIENT} and ${week} != 25">
      <input type='hidden' name="symptom" th:value="${count.symptom}" style="display:none">
      <input type='hidden' name="medicine" th:value="${count.medicine}" style="display:none">
      <input type='hidden' name="mindHealth" th:value="${count.mindHealth}" style="display:none">
      <input type='hidden' name="board" th:value="${count.board}" style="display:none">
      <input type='hidden' name="alarm" th:value="${count.alarm}" style="display:none">
      <input type='hidden' name="bloodPressure" th:value="${count.bloodPressure}" style="display:none">
      <input type='hidden' name="diseaseInfo" th:value="${count.diseaseInfo}" style="display:none">
      <input type='hidden' name="exercise" th:value="${count.exercise}" style="display:none">
      <input type='hidden' name="goal" th:value="${count.goal}" style="display:none">
      <input type='hidden' name="helper" th:value="${count.helper}" style="display:none">
      <input type='hidden' name="level" th:value="${count.level}" style="display:none">
      <input type='hidden' name="natriumMoisture" th:value="${count.natriumMoisture}" style="display:none">
      <input type='hidden' name="weight" th:value="${count.weight}" style="display:none">
      <input type='hidden' name="withusRang" th:value="${count.withusRang}" style="display:none">
      <input type='hidden' name="infoEdit" th:value="${count.infoEdit}" style="display:none">
      <input type='hidden' name="board" th:value="${count.board}" style="display:none">
    </div>
    <div th:if="${type} == ${T(withus.entity.User.Type).CAREGIVER} and ${week} != 25">
      <input type='hidden' name="goal" th:value="${count.goal}" style="display:none">
      <input type='hidden' name="level" th:value="${count.level}" style="display:none">
      <input type='hidden' name="withusRang" th:value="${count.withusRang}" style="display:none">
      <input type='hidden' name="diseaseInfo" th:value="${count.diseaseInfo}" style="display:none">
      <input type='hidden' name="helper" th:value="${count.helper}" style="display:none">
      <input type='hidden' name="medicine" th:value="${count.medicine}" style="display:none">
      <input type='hidden' name="bloodPressure" th:value="${count.bloodPressure}" style="display:none">
      <input type='hidden' name="exercise" th:value="${count.exercise}" style="display:none">
      <input type='hidden' name="familyObservation" th:value="${count.familyObservation}" style="display:none">
      <input type='hidden' name="dietManagement" th:value="${count.dietManagement}" style="display:none">
      <input type='hidden' name="weight" th:value="${count.weight}" style="display:none">
      <input type='hidden' name="mindHealth" th:value="${count.mindHealth}" style="display:none">
      <input type='hidden' name="alarm" th:value="${count.alarm}" style="display:none">
      <input type='hidden' name="board" th:value="${count.board}" style="display:none">
      <input type='hidden' name="infoEdit" th:value="${count.infoEdit}" style="display:none">
    </div>
    <!-- buttonCount -->

  </div>
  <!-- wrap -->
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <th:block layout:fragment="script"></th:block>
</body>
</html>