<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>위더스</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
  <meta name="format-detection" content="telephone=no">
  <link th:href="@{/css/reset.css}" rel="stylesheet">
  <link th:href="@{/css/common.css}" rel="stylesheet">
  <link th:href="@{/css/layout.css}" rel="stylesheet">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" >
  <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
  <script th:src="@{/js/common.js}"></script>
  <script th:src="@{/js/help.js}"></script>
  <script src="https://kit.fontawesome.com/e381c8a508.js" crossorigin="anonymous"></script>
</head>
<body>
  <input type="hidden" id="button-count" th:attr="value=@{/button-count}">
  <input type="hidden" id="helper-request" th:attr="value=@{/helper-request}">
  <!-- wrap -->
  <div id="wrap" class="list-page">

    <!-- header -->
    <header>
      <div class="header-wrap type02">
        <div class="head" th:if="${type.toString().equals('PATIENT') and user.week != 25}">
          <div onclick="helperRequest()" >
            <a class="btn xsm type07" href="tel:010-8454-9186" th:onclick="'addHelper(parseInt(' + ${count.helper} + '))'" >
              <span class="ico-call" ></span>
              <span class="txt-rt">도우미</span>
            </a>
          </div>
          <h2>식단추천</h2>
          <a th:href="@{/center}"><i class="fa-solid fa-house fa-2xl" style="color: #ffffff;"></i></a>
        </div>
        <div class="head" th:if="${type.toString().equals('CAREGIVER') or user.week == 25}">
          <div onclick="helperRequest()" >
            <a class="btn xsm type07" href="tel:010-8454-9186">
              <span class="ico-call"></span>
              <span class="txt-rt">도우미</span>
            </a>
          </div>
          <h2>식단추천</h2>
          <a th:href="@{/center}"><i class="fa-solid fa-house fa-2xl" style="color: #ffffff;"></i></a>
        </div>
      </div>
    </header>
    <!-- // header -->

  </div>
</body>
</html>