<configuration>
	<include resource="logback-${spring.profiles.active:-default}.xml"/>
	<property name="LOG_PATTERN" value="%d{HH:mm:ss.SSS} [%-5level] %logger{36} - %msg%n"/>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
		<filter class="com.bluecore.withus.configuration.LevelEqualOrAboveFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
	<appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/withus.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
		<filter class="com.bluecore.withus.configuration.LevelEqualOrAboveFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>withus/%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
	</appender>
	<appender name="sqlFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/sql.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>sql/%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="fileAppender"/>
	</root>
	<logger name="org.hibernate.SQL" level="DEBUG">
		<appender-ref ref="sqlFileAppender"/>
	</logger>
</configuration>
