<html layout:decorate="~{board/layout}">
<div layout:fragment="content" class="container px-0">
  <h5 class="my-3 border-bottom pb-2 text-center">댓글 수정</h5>
  <form th:action="@{|/board/comment/modify/${comment.id}|}" th:object="${commentForm}" method="post">
<!--  <form th:object="${commentForm}" method="post">-->
<!--    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
<!--    <div th:replace="~{form_errors :: formErrorsFragment}"></div>-->
    <div class="mb-3">
      <label for="content" class="form-label px-2">내용</label>
      <textarea th:field="*{content}" class="form-control rounded-0 border-start-0 border-end-0" rows="16"></textarea>
    </div>
    <div class="text-center">
      <input type="submit" value="저장" class="btn btn-warning rounded-pill">
    </div>
  </form>
  <!-- modal -->
  <a data-bs-toggle="modal" data-bs-target="#alert" class="position-fixed bottom-0 end-0 p-2" style="width: 48px;">
    <img th:src="@{/images/board/123.다이애딕_환자용_게시판_명예의전당_아이콘11.png}" class="img-fluid float-end" style="max-height: 38px;">
  </a>
  <div class="modal fade" th:id="alert" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content align-items-center">
        <div class="modal-body text-center">
          댓글 수정을 종료하시겠습니까?
        </div>
        <div class="row border-top w-100">
          <div class="col px-0 py-2 text-center">
            <a style="text-decoration: none;" data-bs-dismiss="modal">
              <div class="text-dark">
                취소
              </div>
            </a>
          </div>
          <div class="col px-0 py-2 text-center" style="background-color: #0ddf6a; max-width: 50%; border-bottom-right-radius: 8px;">
            <a th:href="@{|/board/post/detail/${comment.post.id}|}" style="text-decoration: none;">
              <div class="text-white">
                확인
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- modal end -->
</div>
</html>