<html layout:decorate="~{board/layout}">
<div layout:fragment="content" class="conatainer">
  <h5 class="my-3 border-bottom pb-2">글쓰기</h5>
  <!-- th:object 속성이 반드시 필요하다.
  th:object를 사용하여 폼의 속성들이 PostForm의 속성들로 구성된다는 점을 타임리프 엔진에 알려줘야 하기 때문
  -->
  <!-- th:action 속성을 삭제하면 CSRF 값이 자동으로 생성되지 않기 때문에 위와 같이 CSRF 값을 설정하기 위한 hidden 형태의 input 엘리먼트를 수동으로 추가 -->
  <!-- form th:action="@{/post/create}" th:object="${postForm}" method="post" -->
  <form th:object="${postForm}" method="post">
    <!-- todo: [ERROR] org.thymeleaf.TemplateEngine - [THYMELEAF][http-nio-80-exec-5] Exception processing template "board/post_form": Exception evaluating SpringEL expression: "_csrf.parameterName" (template: "board/post_form" - line 11, col 26) -->
    <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
    <!-- th:replace 속성을 사용하면 공통 템플릿을 템플릿 내에 삽입할수 있다
         div 엘리먼트를 form_errors.html 파일의 th:fragment 속성명이
         formErrorsFragment인 엘리먼트로 교체하라는 의미
    -->
    <!-- div th:replace="~{form_errors :: formErrorsFragment}"></div -->
    <!-- name="subject", name="content"와 같이 사용하던 부분을 위와 같이 th:field 속성을 사용하도록 변경하였다. 이렇게 하면 해당 태그의 id, name, value 속성이 모두 자동으로 생성되고 타임리프가 value 속성에 기존 값을 채워 넣어 오류가 발생하더라도 기존에 입력한 값이 유지된다.
    -->
    <div>
      <select th:field="*{category}" class="form-select">
        <option value="">카테고리를선택해주세요</option> <!--선택안한 비어있는값-->
        <option value="공지사항">공지사항</option>
        <option value="질문게시판">질문게시판</option>
        <option value="나눔게시판">나눔게시판</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="subject" class="form-lable">제목</label>
      <input type="text" th:field="*{subject}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">내용</label>
      <textarea th:field="*{content}" class="form-control" rows="10"></textarea>
    </div>
    <input type="submit" value="저장하기" class="btn btn-primary my-2">
  </form>
</div>
</html>