<html layout:decorate="~{board/layout}">
<div layout:fragment="content" class="container px-0">
    <h5 class="my-3 border-bottom pb-2 text-center">글쓰기</h5>
  <!-- th:object 속성이 반드시 필요하다.
  th:object를 사용하여 폼의 속성들이 PostForm의 속성들로 구성된다는 점을 타임리프 엔진에 알려줘야 하기 때문
  -->
  <!-- th:action 속성을 삭제하면 CSRF 값이 자동으로 생성되지 않기 때문에 위와 같이 CSRF 값을 설정하기 위한 hidden 형태의 input 엘리먼트를 수동으로 추가 -->
    <form th:action="@{/board/post/create}" th:object="${postForm}" method="post">
<!--    <form th:object="${postForm}" method="post">-->
<!--    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
<!--        name="subject", name="content"와 같이 사용하던 부분을 위와 같이 th:field 속성을 사용하도록 변경하면 해당 태그의 id, name, value 속성이 모두 자동으로 생성되고 타임리프가 value 속성에 기존 값을 채워 넣어 오류가 발생하더라도 기존에 입력한 값이 유지-->
        <div>
            <select th:field="*{category}" class="form-select mb-3 rounded-0 border-start-0 border-end-0">
                <option value="">카테고리를 선택해주세요</option> <!--선택안한 비어있는값-->
                <option sec:authorize="hasRole('ROLE_ADMIN')" value="공지사항">공지사항</option>
                <option value="질문게시판">질문게시판</option>
                <option value="나눔게시판">나눔게시판</option>
             </select>
        </div>
        <div class="mb-3">
            <label for="subject" class="form-lable px-2">제목</label>
            <input type="text" th:field="*{subject}" class="form-control rounded-0 border-start-0 border-end-0">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label"></label>
            <textarea th:field="*{content}" placeholder="내용을 입력하세요" class="form-control rounded-0 border-start-0 border-end-0" rows="16"></textarea>
        </div>
        <div class="text-center">
            <input type="submit" value="게시" class="btn btn-warning rounded-pill">
        </div>
    </form>
    <a class="exit position-fixed bottom-0 end-0 p-2" href="javascript:void(0);" th:data-uri="@{/board}">
        <img th:src="@{/images/board/123.다이애딕_환자용_게시판_명예의전당_아이콘11.png}" class="img-fluid float-end" style="max-height: 38px;">
    </a>
</div>
<script layout:fragment="script" type='text/javascript'>
    const exit = document.getElementsByClassName("exit");
    Array.from(exit).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("글쓰기를 종료하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
        });
    });
</script>
</html>