<!DOCTYPE html>
<html layout:decorate="~{board/layout}">
<div layout:fragment="content" class="container my-3">
  <!-- 질문 -->
  <!--카테고리추가-->
  <div class="p-1 bg-dark text-white" th:text="${post.category}"></div>
  <h2 class="border-bottom py-2" th:text="${post.subject}"></h2>
  <div class="card my-3">
    <div class="card-body">
      <div class="card-text" style="white-space: pre-line;" th:text="${post.content}"></div>
      <div class="d-flex justify-content-end">
        <div th:if="${post.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
          <div class="mb-2">modified at</div>
          <div th:text="${#temporals.format(post.modifyDate, 'yyyy-MM-dd HH-mm')}"></div>
        </div>
        <div class="badge bg-light text-dark p-2 text-start">
          <div class="mb-2">
            <span th:if="${post.author != null}" th:text="${post.author.userId}"></span>
          </div>
          <div th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}"></div>
        </div>
      </div>
      <div class="my-3">
        <a href="javascript:void(0)" class="recommend btn btn-sm btn-outline-secondary"
           th:data-uri="@{|/post/vote/${post.id}|}">
          추천
<!--          <span class="badge rounded-pill bg-success" th:text="${#lists.size(post.voter)}"></span>-->
        </a>
        <a th:href="@{|/board/post/modify/${post.id}|}" class="btn btn-sm btn-outline-secondary"
           sec:authorize="isAuthenticated()"
           th:if="${post.author != null and #authentication.getPrincipal().getUserId() == post.author.userId}"
           th:text="수정"></a>
        <!-- href에 삭제 URL을 직접 사용하지 않고 이러한 방식을 사용하는 이유는 삭제 버튼을 클릭했을때 "정말로 삭제하시겠습니까?" 와 같은 확인 절차가 필요하기 때문 -->
        <a href="javascript:void(0);"
           th:data-uri="@{|/post/delete/${post.id}|}"
           class="delete btn btn-sm btn-outline-secondary"
           sec:authorize="isAuthenticated()"
           th:if="${post.author != null and #authentication.getPrincipal().getUserId() == post.author.userId}"
           th:text="삭제"></a>
      </div>
    </div>
  </div>
  <!-- 답변 후 갯수 표시 -->
  <!-- #lists.size(이터러블객체)는 타임리프가 제공하는 유틸리티로 객체의 길이를 반환 -->
  <h5 class="border-bottom my-3 py-2" th:text="|${commentSize}개의 답변이 있습니다.|"></h5>
  <!-- 답변 반복 시작 -->
  <div class="card my-3" th:each="comment : ${post.commentList}">
    <!-- 앵커 추가 -->
    <a th:id="|comment_${comment.id}|"></a>
    <div class="card-body">
      <div class="card-text" style="white-space: pre-line;" th:text="${comment.content}"></div>
      <div class="d-flex justify-content-end">
        <div th:if="${comment.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
          <div class="mb-2">modified at</div>
          <div th:text="${#temporals.format(comment.modifyDate, 'yyyy-MM-dd HH-mm')}"></div>
        </div>
        <div class="badge bg-light text-dark p-2 text-start">
          <div class="mb-2">
            <span th:if="${comment.author != null}" th:text="${comment.author.userId}"></span>
          </div>
          <div th:text="${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}"></div>
        </div>
      </div>
      <div class="my-3">
        <a href="javascript:void(0)" class="recommend btn btn-sm btn-outline-secondary"
           th:data-uri="@{|/comment/vote/${comment.id}|}">
          추천
<!--          <span class="badge rounded-pill bg-success" th:text="${#lists.size(comment.voter)}"></span>-->
        </a>
        <a th:href="@{|/board/comment/modify/${comment.id}|}" class="btn btn-sm btn-outline-secondary"
           sec:authorize="isAuthenticated()"
           th:if="${comment.author != null and #authentication.getPrincipal().getUsername() == comment.author.userId}"
           th:text="수정"></a>
        <a href="javascript:void(0)" th:data-uri="@{|/comment/delete/${comment.id}|}"
           class="delete btn btn-sm btn-outline-secondary"
           sec:authorize="isAuthenticated()"
           th:if="${comment.author != null and #authentication.getPrincipal().getUsername() == comment.author.userId}"
           th:text="삭제"></a>
      </div>
    </div>
  </div>
  <!-- 답변 반복 끝 -->
  <form th:action="@{|/comment/create/${post.id}|}" th:object="${commentForm}" method="post" class="my-3">
    <div th:replace="~{form_errors :: formErrorsFragment}"></div>
    <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
      <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
    </div>
    <!-- 로그인 상태가 아닌 경우 textarea 태그에 disabled 속성을 적용하여 입력을 못하게 -->
    <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" rows="10" class="form-control" placeholder="로그인 해주세요!"></textarea>
    <button sec:authorize="isAnonymous()" th:href="@{/user/login}" class="btn btn-primary my-2">로그인하고 답변달기</button>
    <!-- todo: 로그인하면 메인화면이 아니라 조회중이던 게시물로 가게 수정 -->
    <textarea sec:authorize="isAuthenticated()" th:field="*{content}" rows="10" class="form-control"></textarea>
    <input sec:authorize="isAuthenticated()" type="submit" value="답변등록" class="btn btn-primary my-2">
  </form>
</div>
<script layout:fragment="script" type='text/javascript'>
  const delete_elements = document.getElementsByClassName("delete");
  Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
      if(confirm("정말로 삭제하시겠습니까?")) {
        location.href = this.dataset.uri;
      };
    });
  });

  const recommend_elements = document.getElementsByClassName("recommend");
  Array.from(recommend_elements).forEach(function (element) {
    element.addEventListener('click', function () {
      if(confirm("추천하시겠습니까?")) {
        location.href = this.dataset.uri;
      }
    })
  })
</script>
</html>