<!DOCTYPE html>
<html layout:decorate="~{board/layout}">
<div layout:fragment="content" class="container px-0">
<!--  질문-->
<!--  카테고리-->
<!--  <div class="p-1 bg-dark text-white" th:text="${post.category}"></div>-->
  <div class="mb-5">
    <h2 class="border-bottom p-2" th:text="${post.subject}"></h2>
    <div class="border-bottom px-2 pb-2">
      <div class="row mx-0">
        <!--        수정날짜-->
        <!--        <div th:if="${post.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">-->
        <!--          <div class="mb-2">modified at</div>-->
        <!--          <div th:text="${#temporals.format(post.modifyDate, 'MM/dd HH-mm')}"></div>-->
        <!--        </div>-->
        <div class="col px-0">
          <div th:if="${post.author != null and nowUser.userId == '위더스'}">
            <span th:if="${post.author.type.toString().equals('ADMINISTRATOR')}" class="text-dark fw-bold">관리자</span>
            <span th:unless="${post.author.type.toString().equals('ADMINISTRATOR')}" th:text="${post.author.name}" class="text-dark fw-bold"></span>
            <span th:if="${post.author.type.toString().equals('PATIENT')}" class="border rounded-pill bg-success text-white text-center" style="font-size: 12px; display: inline-block; width: 60px">환자</span>
            <span th:if="${post.author.type.toString().equals('CAREGIVER')}" class="border rounded-pill bg-warning text-white text-center" style="font-size: 12px; display: inline-block; width: 60px">보호자</span>
          </div>
          <div th:unless="${post.author != null and nowUser.userId == '위더스'}">
            <span th:if="${post.author.type.toString().equals('ADMINISTRATOR')}" class="text-dark fw-bold">관리자</span>
            <span th:unless="${post.author.type.toString().equals('ADMINISTRATOR')}" class="text-dark fw-bold">익명</span>
            <span th:if="${post.author.type.toString().equals('PATIENT')}" class="border rounded-pill bg-success text-white text-center" style="font-size: 12px; display: inline-block; width: 60px">환자</span>
            <span th:if="${post.author.type.toString().equals('CAREGIVER')}" class="border rounded-pill bg-warning text-white text-center" style="font-size: 12px; display: inline-block; width: 60px">보호자</span>
          </div>
        </div>
  <!--      작성날짜-->
  <!--      <div th:text="${#temporals.format(post.createDate, 'MM/dd HH:mm')}"></div>-->
        <!-- modal -->
        <button data-bs-toggle="modal" data-bs-target="#alert" class="col-2 p-0 modify btn btn-sm btn-outline-secondary rounded-pill float-end" style="width: 48px;" sec:authorize="isAuthenticated()" th:if="${post.author != null and #authentication.getPrincipal().getUsername() == post.author.userId or #authentication.getPrincipal().getUsername() == '위더스'}">···</button>
        <div class="modal fade" th:id="alert" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content align-items-center">
              <div class="modal-body text-center">
                    게시물을 수정하시겠습니까?
              </div>
              <div class="row border-top w-100">
                <div class="col px-0 py-2 text-center">
                  <a th:href="@{|/board/post/modify/${post.id}|}" style="text-decoration: none;">
                    <div class="text-dark">
                      수정
                    </div>
                  </a>
                </div>
                <div class="col px-0 py-2 text-center" style="background-color: #0ddf6a; max-width: 50%; border-bottom-right-radius: 8px;">
                  <a th:href="@{|/board/post/delete/${post.id}|}" style="text-decoration: none;">
                    <div class="text-white">
                      삭제
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- modal end -->
      <!--내용-->
      <div class="text-break" style="white-space: pre-line;" th:text="${post.content}"></div>
      <div class="my-2">
        <!--답변 후 갯수 표시-->
        <!-- #lists.size(이터러블객체)는 타임리프가 제공하는 유틸리티로 객체의 길이를 반환 -->
        <span class="my-3 py-2 text-success" th:text="|공감 ${#lists.size(post.voter)}|"></span>
        <span class="my-3 py-2 text-success" th:text="|댓글 ${#lists.size(post.commentList)}|"></span>
        <a th:href="@{|/board/post/vote/${post.id}|}">
          <button class="recommend btn btn-sm btn-outline-secondary rounded-pill float-end">공감하기</button>
        </a>
      </div>
    </div>
    <div class="border-bottom bg-light text-center">▽댓글</div>
    <!-- 댓글 반복 시작 -->
    <div class="mb-5">
      <div class="p-2 border-bottom" th:each="comment : ${post.commentList}">
        <!-- 앵커 추가 -->
        <a th:id="|comment_${comment.id}|"></a>
        <div class="row mx-0">
          <!--        수정날짜-->
          <!--        <div th:if="${post.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">-->
          <!--          <div class="mb-2">modified at</div>-->
          <!--          <div th:text="${#temporals.format(post.modifyDate, 'MM/dd HH-mm')}"></div>-->
          <!--        </div>-->
          <div class="col px-0">
            <div th:if="${comment.author != null and nowUser.userId.equals('위더스')}">
              <span th:if="${comment.author.type.toString().equals('ADMINISTRATOR')}" class="text-dark fw-bold">관리자</span>
              <span th:unless="${comment.author.type.toString().equals('ADMINISTRATOR')}" th:text="${comment.author.name}" class="text-dark fw-bold"></span>
              <span th:if="${comment.author.type.toString().equals('PATIENT')}" class="border rounded-pill bg-success text-white text-center" style="font-size: 12px; display: inline-block; width: 60px">환자</span>
              <span th:if="${comment.author.type.toString().equals('CAREGIVER')}" class="border rounded-pill bg-warning text-white text-center" style="font-size: 12px; display: inline-block; width: 60px">보호자</span>
            </div>
            <div th:unless="${comment.author != null and nowUser.userId.equals('위더스')}">
              <span th:if="${comment.author.type.toString().equals('ADMINISTRATOR')}" class="text-dark fw-bold">관리자</span>
              <span th:unless="${comment.author.type.toString().equals('ADMINISTRATOR')}" class="text-dark fw-bold">익명</span>
              <span th:if="${comment.author.type.toString().equals('PATIENT')}" class="border rounded-pill bg-success text-white text-center" style="font-size: 12px; display: inline-block; width: 60px">환자</span>
              <span th:if="${comment.author.type.toString().equals('CAREGIVER')}" class="border rounded-pill bg-warning text-white text-center" style="font-size: 12px; display: inline-block; width: 60px">보호자</span>
            </div>
          </div>
          <!--          작성날짜-->
          <!--          <div th:text="${#temporals.format(post.createDate, 'MM/dd HH:mm')}"></div>-->
          <!-- modal -->
          <button data-bs-toggle="modal" th:attr="data-bs-target=|#alert${comment.id}|" class="col-2 p-0 modify btn btn-sm btn-outline-secondary rounded-pill float-end" style="width: 48px;" sec:authorize="isAuthenticated()" th:if="${comment.author != null and #authentication.getPrincipal().getUsername() == comment.author.userId or #authentication.getPrincipal().getUsername() == '위더스'}">···</button>
          <div class="modal fade" th:id="'alert'+${comment.id}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">
              <div class="modal-content align-items-center">
                <div class="modal-body text-center">
                  게시물을 수정하시겠습니까?
                </div>
                <div class="row border-top w-100">
                  <div class="col px-0 py-2 text-center">
                    <a th:href="@{|/board/comment/modify/${comment.id}|}" style="text-decoration: none;">
                      <div class="text-dark">
                        수정
                      </div>
                    </a>
                  </div>
                  <div class="col px-0 py-2 text-center" style="background-color: #0ddf6a; max-width: 50%; border-bottom-right-radius: 8px;">
                    <a th:href="@{|/board/comment/delete/${comment.id}|}" style="text-decoration: none;">
                      <div class="text-white">
                        삭제
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- modal end -->
        </div>
        <div style="white-space: pre-line;" th:text="${comment.content}"></div>
      </div>
<!-- 댓글 반복 끝 -->
    </div>
<!-- 댓글 입력 폼 -->
    <form th:action="@{|/board/comment/create/${post.id}|}" th:object="${commentForm}" method="post" class="w-100 position-fixed bottom-0 bg-white border-top row p-1 mx-0">
<!--          <div th:replace="~{form_errors :: formErrorsFragment}"></div>-->
<!--      <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">-->
<!--        <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />-->
<!--      </div>-->
      <!-- 로그인 상태가 아닌 경우 textarea 태그에 disabled 속성을 적용하여 입력을 못하게 -->
      <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" rows="1" class="form-control" placeholder="로그인 해주세요!"></textarea>
      <button sec:authorize="isAnonymous()" th:href="@{/login}" class="btn btn-primary">로그인</button>
      <div class="col-8 px-0">
        <input id="COMMENT_CONTENT" sec:authorize="isAuthenticated()" th:field="*{content}" rows="1" class="form-control rounded-pill">
      </div>
      <div class="col-2 px-0">
        <button id="COMMENT_SUBMIT" sec:authorize="isAuthenticated()" type="submit" class="btn btn-outline-dark rounded-pill float-end">등록</button>
      </div>
      <div class="col-2 px-0">
        <a th:href="@{/board}">
          <img th:src="@{/images/board/123.다이애딕_환자용_게시판_명예의전당_아이콘11.png}" class="img-fluid float-end" style="max-height: 38px;">
        </a>
      </div>
    </form>
  </div>
</div>
<!--<script>-->
<!--  const commentContent = document.querySelector('#COMMENT_CONTENT');-->
<!--  const commentSubmit = document.querySelector('#COMMENT_SUBMIT');-->

<!--  commentContent.addEventListener('keyup', activeEvent);-->

<!--  function activeEvent() {-->
<!--    switch (!(commentContent.value)) {-->
<!--      case true : commentSubmit.disabled = true; break;-->
<!--      case false : commentSubmit.disabled = false; break;-->
<!--    }-->
<!--  }-->
<!--</script>-->
</html>