<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <script th:src="@{/js/exercise/exercise.js}"></script>
    <title>운동</title>
</head>
<body>
<div th:replace="header :: #header"></div>
<div id="body">
    <!-- TODO: 보호자일 경우 immutable 하도록 -->
    <p style = "font-size:50px; color: black;" th:text="${level}" >LEVEL</p>
    <div th:if = "${level} == 0 ">
        <img style="size: auto" th:src="@{/images/flower/level_0.jpg}" alt="0레벨">
    </div>
    <div th:if = "${level} == 1 ">
        <img  style="size: auto"th:src="@{/images/flower/level_1.png}" alt="1레벨">
    </div>
    <div th:if = "${level} == 2 ">
        <img style="size: auto" th:src="@{/images/flower/level_2.gif}" alt="2레벨">
    </div>
    <div th:if = "${level} == 3 ">
        <img  style="size: auto" th:src="@{/images/flower/level_3.png}" alt="3레벨">
    </div>



</div>
</body>
</html>
