<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="kr">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/alarm/pill.css}" rel="stylesheet">
    <title>복약</title>

</head>
<body>
<input type="hidden" id="moisture-put-action" th:attr="value=@{/moisture-history}">

<div th:replace="header :: #header"></div>
<div id="body">
    <div id="body-title">수분 달력</div>
    <p>기록들</p>
    <br>
    <div th:each="moistureHistory: ${moisture}">
        <div th:text="'유저 이름 :' + ${moistureHistory.pk.id} + '       날짜 :' + ${moistureHistory.pk.date}"></div>
    </div>
    <div>
        <label>
            <input type="text" name="moistureWeek" th:value="${moistureWeek}" readonly/>mm 일주일 평균
        </label>
    </div>
</div>
</body>
</html>
