<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="kr">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/alarm/pill.css}" rel="stylesheet">
    <script th:src="@{/js/moistureNatrium/moisture.js}"></script>
    <title>복약</title>

</head>

<body>
<input type="hidden" id="moisture-history-get-action" th:attr="value=@{/moisture-all-history}">
<input type="hidden" id="moisture-put-action" th:attr="value=@{/moisture-history}">
<div th:replace="header :: #header"></div>
<div id="body">
    <div id="body-title">수분</div>
    <p>Calender plugin</p>
    <p>---------------</p>
    <p>---------------</p>
    <p>-----물통-----</p>
    <p>---------------</p>
    <p>---------------</p>
    <p>기록들</p>
    <button id="yes1" type="button" onclick="setAdd(1);">물 마셨어요~ (+1)</button>
    <!-- 처음 등록을 진행한 후, 이 버튼은 보여지면 안됨 -->
    <br>
    <div th:each="moistureHistory: ${moisture}">
        <div th:text="${moistureHistory.pk.id} + '마신양 :' + ${moistureHistory.intake} + ' : 섭취하셨습니다 지금까지'"></div>
        <button id="yes" type="button" th:onclick="'setAdd(parseInt(' + ${moistureHistory.intake} + '))'">물 마셨어요~ (+1)</button>
        <!-- <button id="yes" type="button" onclick="setAdd(document.querySelector('#intake').value);">예</button> -->
        <button id="no" type="button" th:onclick="'setMinus(parseInt(' + ${moistureHistory.intake} + '))'">물 안마셨어요~ (-1)</button>
    </div>
    <br>
    <div>
        <button id="history" type="button" onclick="showHistory();">수분섭취 기록</button>
    </div>
</div>
</body>
</html>
