<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/alarm/alarm.css}" rel="stylesheet">
    <title>염분 / 수분</title>
</head>
<body>
<div th:replace="header :: #header"></div>
<div id="body">
    <div id="level-1" class="level">
        <a th:href="@{/natrium}" class="icon">
            <button>Salt</button>
        </a>
    </div>
    <div id="level-2" class="level">
        <a th:href="@{/moisture}" class="icon">
            <button>Moisture</button>
        </a>
    </div>
</div>
</body>
</html>
