<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="kr">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/alarm/pill.css}" rel="stylesheet">
    <title>복약</title>

</head>

<body>
<input type="hidden" id="moisture-put-action" th:attr="value=@{/moisture-history}">

<div th:replace="header :: #header"></div>
<div id="body">
    <div id="body-title">수분 달력</div>
    <p>Calender plugin</p>
    <p>---------------</p>
    <p>---------------</p>
    <p>-----물통-----</p>
    <p>---------------</p>
    <p>---------------</p>
    <p>기록들</p>
    <!-- 처음 등록을 진행한 후, 이 버튼은 보여지면 안됨 -->
    <br>
    <div th:each="moistureHistory: ${moisture}">
        <div th:text="'유저 이름 :' + ${moistureHistory.pk.id} + '       날짜 :' + ${moistureHistory.pk.date}"></div>
    </div>
</div>
</body>
</html>
