<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <script th:src="@{/js/moistureNatrium/natrium.js}"></script>
    <title>염분</title>
</head>
<body>
<input type="hidden" id="natrium-history-get-action" th:attr="value=@{/natrium-all-history}">
<div th:replace="header :: #header"></div>
<form id="MemberInfo" th:action="@{/natrium}" method="post"  onsubmit="return onFormSubmission(this);">
    <div  th:if="${type} == ${T(withus.entity.User.Type).PATIENT}">
        <div>아침
            <span>
                <label><input type="radio" name="morning" th:value="0" th:checked="${morning ==0}">식사안함</label>
                <label><input type="radio" name="morning" th:value="1" th:checked="${morning ==1}" >저염</label>
                <label><input type="radio" name="morning" th:value="2" th:checked="${morning ==2}" >보통</label>
                <label><input type="radio" name="morning" th:value="3" th:checked="${morning ==3}" >고염</label>
            </span>

        </div>
            <div>점심
                <span >
                <label><input type="radio" name="lunch" th:value="0" th:checked="${lunch == 0 }" >식사안함</label>
                <label><input type="radio" name="lunch" th:value="1" th:checked="${lunch == 1 }" >저염</label>
                <label><input type="radio" name="lunch" th:value="2" th:checked="${lunch == 2 }" >보통</label>
                <label><input type="radio" name="lunch" th:value="3" th:checked="${lunch == 3 }" >고염</label>
                </span>
            </div>

            <div>저녁
                <span>
                <label><input type="radio" name="dinner" th:value="0" th:checked="${dinner == 0 }" >식사안함</label>
                <label><input type="radio" name="dinner" th:value="1" th:checked="${dinner == 1 }" >저염</label>
                <label><input type="radio" name="dinner" th:value="2" th:checked="${dinner == 2 }" >보통</label>
                <label><input type="radio" name="dinner" th:value="3" th:checked="${dinner == 3 }" >고염</label>
                </span>
            </div>
        </div>
      <div th:if="${type} == ${T(withus.entity.User.Type).PATIENT}">
        <input type="submit" value="저장">
      </div>
    </div>
    <div  th:if="${type} == ${T(withus.entity.User.Type).CAREGIVER}">
        <div>아침
            <span>
                <label><input type="radio" name="morning" th:value="0" th:checked="${morning == 0 }" disabled>식사안함</label>
                <label><input type="radio" name="morning" th:value="1" th:checked="${morning == 1 }" disabled>저염</label>
                <label><input type="radio" name="morning" th:value="2" th:checked="${morning == 2 }" disabled>보통</label>
                <label><input type="radio" name="morning" th:value="3" th:checked="${morning == 3 }" disabled>고염</label>
            </span>

        </div>
        <div>점심
            <span >
                <label><input type="radio" name="lunch" th:value="0" th:checked="${lunch == 0 }" disabled>식사안함</label>
                <label><input type="radio" name="lunch" th:value="1" th:checked="${lunch == 1 }" disabled>저염</label>
                <label><input type="radio" name="lunch" th:value="2" th:checked="${lunch == 2 }" disabled>보통</label>
                <label><input type="radio" name="lunch" th:value="3" th:checked="${lunch == 3 }" disabled>고염</label>
                </span>
        </div>

        <div>저녁
            <span>
                <label><input type="radio" name="dinner" th:value="0" th:checked="${dinner == 0 }" disabled >식사안함</label>
                <label><input type="radio" name="dinner" th:value="1" th:checked="${dinner == 1 }" disabled >저염</label>
                <label><input type="radio" name="dinner" th:value="2" th:checked="${dinner == 2 }" disabled >보통</label>
                <label><input type="radio" name="dinner" th:value="3" th:checked="${dinner == 3 }" disabled >고염</label>
                </span>
        </div>
    </div>
    <div  th:if="${type} == ${T(withus.entity.User.Type).CAREGIVER}">
        <input type="submit" value="저장" disabled>
    </div>
    </div>
</form>
<div>
    <button id="history" type="button" onclick="showHistory();">저염식이 실천</button>
</div>
</body>
</html>
