/*도우미 연결 요청 기록*/
.help-table{ padding-right: 15px; padding-left: 15px;}
/*월 선택기*/
.select-month{ background: #535353; border: 0px; color: #ffffff; font-weight: bold}
/*환자 관리*/
.home-table{ padding-right: 15px; padding-left: 15px; }

/* 필터링 (검색) */
div.dataTables_filter {
    text-align : left !important;
}

/*페이징*/
div.dataTables_paginate{
    text-align : right !important;
}

h4{ font-weight: bold; padding-left: 15px; }

/*상세 보기 테이블*/
.center-table{  padding: 15px;}
.center-table table thead { border: 1px solid #222222; background: #b4b4b4; color: #000000; font-weight: bold;}
.center-table table tr td { border: 1px solid #222222;}
.center-table table tr th{ border: 1px solid #222222;}

.allRecord { background: #b4b4b4; color: #000000; font-weight: bold; }
.odd-tr { background: #ffffff; }
.even-tr { background: #dedede; }