#body {
	width: 100%;
	transform: translate(-50%, -30%);
	position: absolute;
	top: 30%;
	left: 50%;
}

#img-login {
	width: 30%;
	display: block;
	margin: 0 auto;
}

#auto-login {
	text-align: right;
	font-size: 35px;
	margin-right: 200px;
	margin-bottom: 30px;
}

input[type=checkbox] {
	/* Double-sized Checkboxes */
	-ms-transform: scale(2); /* IE */
	-moz-transform: scale(2); /* FF */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	padding: 10px;
}

#login-info {
	text-align: center;
	font-size: 40px;
}

#login-info .notification {
	font-size: 33px;
}

#login-info .error {
	color: red;
}

input[type=text], input[type=password] {
	width: 400px;
	height: 50px;
	font-size: 40px;
}

#id {
	margin-bottom: 15px;
	margin-left: 40px;
}

input[type=button], input[type=submit] {
	border: 1px solid #00b050;
	background: #c5e0b4;
	font-size: 50px;
	padding: 10px;
	border-radius: 15px;
}

input[type=submit] {
	margin-right: 30px;
}

#button-area {
	margin-top: 120px;
}
