#footer {
	height: 4%;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 15px 0;
	text-align: center;
	background: #ecfee3;
	border: 2px solid #76d799;
}

#footer a {
	text-decoration: none;
}

#footer img {
	width: 80px;
}

#footer #wwithus {
	font-size: 60px;
	color: navy;
}
