#header {
	height: 10%;
}

#header #helper {
	background: pink;
}

#body #level-1 {
	height: 30%;
}

#body #level-2 {
	height: 35%;
}

#body #level-3 {
	height: 35%;
}

#footer {
	height: 7%;
}

#footer #with-withus {
	color: navy;
	background: aquamarine;
}
