body {
	margin: 0;
}

#body a {
	text-decoration: none;
}

#header button, #body button, #body input {
	border-radius: 15px;
}

#footer a {
	text-decoration: none;
}

#body #level-1 {
	height: 30%;
	font-size: 50px;
	font-weight: bold;
	display: grid;
	grid-auto-flow: column;
	padding: 50px;
}

#level-1 input {
	width: 600px;
	height: 70px;
	border: 10px solid #C0E4B2;
}

#level-1 img {
	width: 200px;
}

#body #level-2 {
	height: 35%;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr 1fr 1fr;
}

#body #level-3 {
	height: 35%;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr 1fr 1fr;
}

.main-icon {
	display: grid;
	text-align: -webkit-center;
}

.main-icon img {
	width: 200px;
	height: 200px;
	margin-bottom: 30px;
}

#level-2 button, #level-3 button {
	font-size: 50px;
	font-weight: bold;
	padding: 15px;
	width: fit-content;
	height: fit-content;
	border: none;
	margin-bottom: 70px;
}

#header {
	height: 10%;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	border-bottom: 10px solid #C0E4B2;
}

#header button {
	font-size: 40px;
	height: 70px;
}

#header #helper {
	background: pink;
	border: 3px solid red;
}

#header #disease-information {
	background: none;
	border: 3px solid black;
}

#header #user {
	border: none;
	background: none;
}

#helper img {
	width: 35px;
}

#user img {
	width: 80px;
}

#footer img {
	width: 80px;
}

#footer {
	height: 4%;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 15px 0;
	text-align: center;
	background: #ECFEE3;
	border: 2px solid #76D799;
}

#footer #with-withus {
	font-size: 60px;
	color: navy;
}

