<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="kr">
<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/header.css}" rel="stylesheet">
	<link th:href="@{/css/wwithus/wwithus.css}" rel="stylesheet">
	<script th:src="@{/js/wwithus/wwithus.js}"></script>
	<script th:src="@{/js/wwithus/chat-balloon.js}"></script>
	<title>위더스랑</title>
</head>
<body>
	<input type="hidden" id="chat-balloon-url" th:attr="value=@{/wwithus/chat-balloons}">
	<div th:replace="header :: #header"></div>
	<div id="body"></div>
</body>
