<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="kr">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>위더스</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no">
    <link  th:href="@{/css/jquery-ui.css}" rel="stylesheet">
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <link th:href="@{/css/layout.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/jquery-ui.js}"></script>
    <script th:src="@{/js/datepicker-ko.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/changeInfo.js}"></script>
    <script th:src="@{/js/help.js}"></script>
</head>
<script>
    function check_radio(div)
    {
        switch(div.id){
            case "maleCheck":
                if(document.getElementById('maleCheck').className === "rdo-box"){
                    document.getElementById('maleCheck').className = "rdo-box checked";
                    document.getElementById('femaleCheck').className = "rdo-box";
                    document.getElementById("rdo1").setAttribute("checked", "");
                    document.getElementById("rdo2").removeAttribute("checked");
                }
                break;
            case "femaleCheck":
                if(document.getElementById('femaleCheck').className === "rdo-box"){
                    document.getElementById('femaleCheck').className = "rdo-box checked";
                    document.getElementById('maleCheck').className = "rdo-box";
                    document.getElementById("rdo2").setAttribute("checked", "");
                    document.getElementById("rdo1").removeAttribute("checked");
                }
                break;
        }
    }
</script>
<body>
<input type="hidden" id="button-count" th:attr="value=@{/button-count}">
<input type="hidden" id="helper-request" th:attr="value=@{/helper-request}">
<div class="skip-navi">
    <a href="#content">본문 바로가기</a>
</div>
<div id="wrap" class="modify-page">
    <form id="MemberInfo" th:action="@{/changeInfo}" method="post"  onsubmit="return onFormSubmission(this);">
        <!-- wrap -->
        <input type="hidden" name="user" th:value="${user.type}">
        <input type="hidden" name="appToken" th:value="${user.appToken}">
        <input type="hidden" name="level" th:value="${user.level}">
        <input type="hidden" name="week" th:value="${user.week}">
        <input type="hidden" name ="registrationDateTime" th:value="${user.registrationDateTime}">
        <!-- header -->
        <header>
            <div class="header-wrap type01" th:if="${user.type} == ${T(withus.entity.User.Type).PATIENT} and ${week} != 25 ">
                <div class="head">
                    <div onclick="helperRequest()" >
                        <a class="btn xsm type07" href="tel:010-8454-9186" th:onclick="'addHelper(parseInt(' + ${count.helper} + '))'" >
                            <span class="ico-call" ></span>
                            <span class="txt-rt">도우미</span>
                        </a>
                    </div>
                    <h2>정보설정</h2>
                    <div >
                        <a class="btn xsm type07" th:href="@{/logout}">
                            <span style="
                            display: inline-block;
                            width: 15px;
                            height: 15px;
                            background-position: -202px -3px;">
                                <img style="
                            display: inline-block;
                            width: 15px;
                            height: 15px;
                            background-position: -202px -3px;"
                            src="images/ico-logout.png" ></span>
                            <span class="txt-rt">로그아웃</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="header-wrap type01" th:if="${user.type} == ${T(withus.entity.User.Type).CAREGIVER} or ${week} == 25">
                <div class="head">
                    <div onclick="helperRequest()" >
                        <a class="btn xsm type07" href="tel:010-8454-9186">
                            <span class="ico-call" ></span>
                            <span class="txt-rt">도우미</span>
                        </a>
                    </div>
                    <h2>정보설정</h2>
                    <div th:href="@{/logout}" >
                        <a class="btn xsm type07">
                            <span style="
                            display: inline-block;
                            width: 15px;
                            height: 15px;
                            background-position: -202px -3px;">
                                <img style="
                            display: inline-block;
                            width: 15px;
                            height: 15px;
                            background-position: -202px -3px;"
                                     src="images/ico-logout.png" ></span>
                            <span class="txt-rt">로그아웃</span>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <!-- // header -->

        <!-- content -->
        <div class="container" id="content">
            <div class="cont-wrap type01">
                <div class="field-wrap type03">
                    <div class="field">
                        <div class="insert read">
                            <label for="input1">아이디</label>
                            <input type="text" name="id" th:value="${user.userId}" id="input1" readonly>
                        </div>
                    </div>
                    <div class="field">
                        <div class="insert read">
                            <label for="input2">비밀번호</label>
                            <input type="password" name="password" th:value="${user.password}" id="input2" readonly>
                        </div>
                    </div>
                </div>
                <div class="field-wrap type03">
                    <div class="field">
                        <div class="insert">
                            <label for="input3">이름</label>
                            <input type="text" name="name" th:value="${user.name}" id="input3">
                        </div>
                    </div>
                    <div class="field" th:if="${user.type} == ${T(withus.entity.User.Type).PATIENT}">
                        <div class="insert">
                            <label for="input4">생년월일</label>

                            <input  style="inline-size: auto; background: white" type="date" id="input4" th:value="${user.birthdate}" name="birthdate">
                        </div>
                    </div>
                    <div class="field" th:if="${user.type} == ${T(withus.entity.User.Type).PATIENT}">
                        <div class="insert" th:if="${user.gender} == ${T(withus.entity.User.Gender).MALE}">
                            <span class="label-txt">성별</span>
                            <div class="rdo-wrap grid2 type01">
                                <div class="rdo-box checked" id="maleCheck" onclick="check_radio(this)">
                                <span class="rdo-mark">
                                    <input type="radio" value="MALE" name="gender" id="rdo1" checked>
                                </span>
                                    <label for="rdo1">남자</label>
                                </div>
                                <div class="rdo-box" id="femaleCheck" onclick="check_radio(this)">
                                <span class="rdo-mark">
                                    <input type="radio" value="FEMALE" name="gender" id="rdo2">
                                </span>
                                    <label for="rdo2">여자</label>
                                </div>
                            </div>
                        </div>
                        <div class="insert" th:if="${user.gender} == ${T(withus.entity.User.Gender).FEMALE}">
                            <span class="label-txt">성별</span>
                            <div class="rdo-wrap grid2 type01">
                                <div class="rdo-box" id="maleCheck" onclick="check_radio(this)">
                                <span class="rdo-mark">
                                    <input type="radio" value="MALE" name="gender" id="rdo1">
                                </span>
                                    <label for="rdo1">남자</label>
                                </div>
                                <div class="rdo-box checked" id="femaleCheck" onclick="check_radio(this)">
                                <span class="rdo-mark">
                                    <input type="radio" value="FEMALE" name="gender" id="rdo2" checked>
                                </span>
                                    <label for="rdo2">여자</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="insert">
                            <label for="input5">연락처(본인)</label>
                            <input type="text" id="input5" th:value="${user.contact}" name="contact">
                        </div>
                    </div>

                    <div class="field" th:if="${user.type} == ${T(withus.entity.User.Type).PATIENT}">
                        <div class="insert patient-only">
                            <label for="input6">연락처(보호자)</label>
                            <input type="text" id="input6" th:value="${caregiver_contact}" name="caregiver">
                        </div>
                    </div>
                    <div th:if="${user.type} == ${T(withus.entity.User.Type).PATIENT} and ${week} != 25">
                        <input type = 'hidden' name = "symptom"           th:value = "${count.symptom}" style = "display:none">
                        <input type = 'hidden' name = "alarm"             th:value = "${count.alarm}" style = "display:none">
                        <input type = 'hidden' name = "blood"             th:value = "${count.bloodPressure}" style = "display:none">
                        <input type = 'hidden' name = "disease"           th:value = "${count.diseaseInfo}" style = "display:none">
                        <input type = 'hidden' name = "exercise"          th:value = "${count.exercise}" style = "display:none">
                        <input type = 'hidden' name = "goal"              th:value = "${count.goal}" style = "display:none">
                        <input type = 'hidden' name = "helper"            th:value = "${count.helper}" style = "display:none">
                        <input type = 'hidden' name = "level"             th:value = "${count.level}" style = "display:none">
                        <input type = 'hidden' name = "natriumMoisture"   th:value = "${count.natriumMoisture}" style = "display:none">
                        <input type = 'hidden' name = "weight"            th:value = "${count.weight}" style = "display:none">
                        <input type = 'hidden' name = "withusRang"        th:value = "${count.withusRang}" style = "display:none">
                    </div>
                </div>
            </div>
        </div>
        <!— // content —>
        <input type="hidden" name = "appToken" th:value = "${user.appToken}" style = "display:none">
        <!— footer —>
        <footer>
            <div class="footer-wrap">
                <div class="btn-wrap type01">
                    <input type="submit" value="정보수정" class="btn xlg type02">
                </div>
            </div>
        </footer>
        <!— // footer —>

        <!—// wrap —>
    </form>
</div>
</body>
</html>