<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>위더스</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
	<meta name="format-detection" content="telephone=no">
	<link th:href="@{/css/reset.css}" rel="stylesheet">
	<link th:href="@{/css/common.css}" rel="stylesheet">
	<link th:href="@{/css/layout.css}" rel="stylesheet">
	<script th:src="@{/js/jquery-1.12.4.min.js}"></script>
	<script th:src="@{/js/common.js}"></script>
	<script th:src="@{/js/goal/thisGoal.js}"></script>
	<script th:src="@{/js/home.js}"></script>
</head>
<body>
<input type="hidden">
<div class="skip-navi">
	<a href="#content">본문 바로가기</a>
</div>

<!-- wrap -->
<div id="wrap" class="main-page">

	<header>
		<div class="header-wrap">
			<div class="head">
				<a class="btn xsm type07" href="javascript: alert('아직 서비스 기간이 아닙니다.');">
					<span class="ico-call" ></span>
					<span class="txt-rt">도우미</span>
				</a>
				<a class="ico-my" th:href="@{/changeInfo}"></a>
				<a class="btn xsm type07" href="javascript: alert('아직 서비스 기간이 아닙니다.');">
					<span class="ico-info"></span>
					<span class="txt-rt">질환정보</span>
				</a>
			</div>
			<lable style="cursor:pointer" onclick="javascript: alert('아직 서비스 기간이 아닙니다.');">
				<div class="cont" >
                <span class="title-txt" href="javascript: alert('아직 서비스 기간이 아닙니다.');">
                    <span class="ico-goal"></span>
                    <span class="button">이 주의 목표</span>
                </span>
					<div id="todoGoal" class="todo-txt" spanChange() > <p>아직 서비스 기간이 아닙니다.</p>   </div>
				</div>
			</lable>
			<label>
				<div class="target-img ico-leaf1" style="cursor:pointer" onclick="javascript: alert('아직 서비스 기간이 아닙니다.');"></div>
			</label>
		</div>

	</header>

	<!-- content -->
	<div class="container" id="content">
		<ul class="main-icon">
			<a href="javascript: alert('아직 서비스 기간이 아닙니다.');">
				<span><img src = "images/medicon.jpg" width = "50" height ="50"> </span>
				<span>복용약</span>
			</a>
			<a href="javascript: alert('아직 서비스 기간이 아닙니다.');">
				<span class="ico-alarm"></span>
				<span>알람</span>
			</a>
			<a href="javascript: alert('아직 서비스 기간이 아닙니다.');">
				<span class="ico-blood"></span>
				<span>혈압/맥박</span>
			</a>
			<a href="javascript: alert('아직 서비스 기간이 아닙니다.');">
				<span class="ico-exercise"></span>
				<span>운동</span>
			</a>
			<a href="javascript: alert('아직 서비스 기간이 아닙니다.');">
				<span class="ico-symptom"></span>
				<span>증상일지</span>
			</a>
			<a href="javascript: alert('아직 서비스 기간이 아닙니다.');">
				<span class="ico-intake"></span>
				<span>염분/수분</span>
			</a>
			<a href="javascript: alert('아직 서비스 기간이 아닙니다.');">
				<span class="ico-weight"></span>
				<span>체중</span>
			</a>
			<a href="javascript: alert('아직 서비스 기간이 아닙니다.');">
                <span>
                    <img src = "images/common/mental.png" width = "80" height ="80"> <!--마음건강-->
                </span>
			</a>
			<a href="javascript: alert('아직 서비스 기간이 아닙니다.');">
                <span>
                    <img src = "images/common/notice.png" width = "80" height ="80"> <!--게시판-->
                </span>
			</a>



		</ul>
	</div>
	<!-- // content -->

	<!-- footer -->
	<footer>
		<div class="footer-wrap">
            <div class="chat-txt">
                <span class="black">위더스랑 </span>
                <span class="ico-logo2"></span>
            </div>
            <a class="btn sm type08" href="javascript: alert('아직 서비스 기간이 아닙니다.');">
                <span class="txt-lt">대화시작</span>
                <span class="ico-arrow1"></span>
            </a>
		</div>
	</footer>
	<!-- // footer -->


<!--// wrap -->
</div>
</body>

</html>
