<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>위더스</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no">
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <link th:href="@{/css/layout.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
</head>
<body>
<div class="skip-navi">
    <a href="#content">본문 바로가기</a>
</div>

<!-- wrap -->
<div id="wrap" class="guide-page">

    <!-- header -->
    <header>
        <div class="header-wrap type01">
            <div class="head">
                <a class="btn xsm type07" href="javascript:void(0)">
                    <span class="ico-call"></span>
                    <span class="txt-rt">도우미</span>
                </a>
                <h2>
                    <span>심부전 알아보기</span>
                </h2>
            </div>
        </div>
    </header>
    <!-- // header -->

    <!-- content -->
    <div class="container" id="content">
        <div class="cont-wrap type01">
            <div class="guide-wrap">
                <div class="alert-top">
                    <span>각 목차를 클릭해서 내용을 확인해보세요.</span>
                    <span class="sub">출처 대한심부전학회</span>
                </div>
                <div class="guide-list">
                    <a href="http://m.khfs.or.kr/info/index.php">
                        <span class="num">01</span>
                        <span class="txt">심부전이란</span>
                    </a>
                    <a href="http://m.khfs.or.kr/info/sub2.php">
                        <span class="num">02</span>
                        <span class="txt">심부전 치료</span>
                    </a>
                    <a href="http://m.khfs.or.kr/info/sub3.php">
                        <span class="num">03</span>
                        <span class="txt">심부전과 식생활</span>
                    </a>
                    <a href="http://m.khfs.or.kr/info/sub4.php">
                        <span class="num">04</span>
                        <span class="txt">심부전 생활습관·운동</span>
                    </a>
                    <a href="https://docs.google.com/viewer?url=khfs.or.kr/image/upload/khfs_book.pdf">
                        <span class="num">05</span>
                        <span class="txt">바로 알고 잘 살아가기</span>
                    </a>
                    <a href="http://khfs.or.kr/upload/video/edu160328.mp4">
                        <span class="num">06</span>
                        <span class="txt">교육동영상</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- // content -->

</div>
<!--// wrap -->

</body>
</html>