<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="kr">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>위더스</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no">
    <link  th:href="@{/css/jquery-ui.css}" rel="stylesheet">
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <link th:href="@{/css/layout.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
</head>
<body>
<div class="skip-navi">
    <a href="#content">본문 바로가기</a>
</div>

<!-- wrap -->
<div id="wrap" class=""></div>
<!--// wrap -->

<div class="popup pop-type02" id="" style="display: block;">
    <div class="pop-wrap">
        <!-- <a href="javascript:void(0);" class="pop-close"></a> -->
        <div class="popup-body">
            <div class="pop-img">
                <span class="ico-water"></span>
            </div>
            <div class="pop-cont">
                <span class="bold">오늘 마신 물의 양도 충분해요!</span>
                <span>너무 많은 수분을 섭취하지 마세요.</span>
            </div>
        </div>
        <button class="btn xlg type02" onclick="window.close()">확인</button>
    </div>
</div>
<div class="dim-layer"></div>

</body>
</html>