#body div {
	height: 50%;
}

#body {
	margin-top: 30px;
	text-align: center;
	text-align: -webkit-center;
	font-size: 50px;
	font-weight: bold;
}

#body .level {
	width: 444px;
	padding: 50px;
}

#body .level button {
	font-size: 50px;
	font-weight: bold;
	padding: 15px;
	width: fit-content;
	height: fit-content;
	border: none;
	margin-bottom: 70px;
}

#body #level-1 img {
	width: 333px;
}

#body #level-2 img {
	width: 333px;
}

.icon {
	display: grid;
	text-align: center;
	text-align: -webkit-center;
}


/*.toggle{*/
/*	position: relative;*/
/*	border: 6px #c0c0c0;*/
/*	border-radius: 55px;*/
/*	!*transition: transform cubic-bezier(0, 0, 0.30, 2) .4s;*!*/
/*	!*transform-style: preserve-3d;*!*/
/*	!*perspective: 800px;*!*/
/*}*/
/*.toggle>label {*/
/*	display: inline-block;*/
/*	min-width: 170px;*/
/*	padding: 30px;*/
/*	font-size: 30px;*/
/*	text-align: center;*/
/*	color: #000000;*/
/*	!*cursor: pointer;*!*/
/*}*/