
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/register.css}" rel="stylesheet">
	<script th:src="@{/js/register.js}"></script>
	<title>회원 가입</title>
</head>
<body>
	<form id="MemberInfo" th:action="@{/saveUser}" method="post"  onsubmit="return onFormSubmission(this);">
		<div id="user-wrap">
			<label>
				<input type="radio" name="user" th:value="${T(com.bluecore.withus.entity.User.Type).PATIENT}" onclick="doDisplay(this.value)" checked>
				<div class="user">
					<img th:src="@{/images/patient.png}">
					<span id="patient">환자</span>
				</div>
			</label>
			<label>
				<input type="radio" name="user" th:value="${T(com.bluecore.withus.entity.User.Type).CAREGIVER}" onclick="doDisplay(this.value)">
				<div class="user">
					<img th:src="@{/images/protector.png}">
					<span id="caregiver">보호자</span>
				</div>
			</label>
		</div>
		<div>
			<div class="input-container">
				<span class="label">아이디</span>
				<input type="text" name="id">
			</div>
			<div class="input-container">
				<span class="label">비밀번호</span>
				<input type="password" name="password">
			</div>
			<div class="input-container">
				<span class="label">이름</span>
				<input type="text" name="name">
			</div>
			<div class="input-container patient-only">
				<span class="label">생년월일</span>
				<input type="date" name="birthdate">
			</div>
			<div class="input-container patient-only">
				<span class="label">성별</span>
					<div th:each="state : ${T(com.bluecore.withus.entity.User.Gender).values()}">
						<label>
							<input type="radio" name="gender" th:value="${state}">
							<span th:id="${state}" th:text="${state==T(com.bluecore.withus.entity.User.Gender).MALE ? '남자':'여자'}"></span>
						</label>
					</div>
			</div>
			<div class="input-container">
				<span class="label">연락처<br>(본인)</span>
				<input type="number" name="contact">
			</div>
			<div class="input-container patient-only">
				<span class="label">연락처<br>(보호자)</span>
				<input type="number" name="caregiver">
			</div>
		</div>
			<input type="submit" value="회원가입">
	</form>
</body>
</html>
