<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
	<meta charset="UTF-8">
	<script th:src="@{/js/register.js}"></script>
	<title>회원 가입</title>
</head>
<body>
	<div id="body">
		<form id="MemberInfo" th:action="@{/saveUser}" method="post" onsubmit="return onFormSubmission(this);">
			<div id="id">
				아이디
				<input type="text" name="id">
			</div>
			<div id="password">
				비밀번호
				<input type="password" name="password">
			</div>
			<div id="name">
				이름
				<input type="text" name="name">
			</div>
			<div id="contact">
				전화번호
				<input type="number" name="contact">
			</div>
			<div id="birthdate">
				생년월일
				<input type="date" name="birthdate">
			</div>
			<div id="sex">
				성별 <br>
				<div th:each="state : ${T(com.bluecore.withus.entity.User.Sex).values()}">
					<input type="radio" th:id="${state}" name="sex" th:value="${state}">
					<label th:for="${state}" th:text="${state==T(com.bluecore.withus.entity.User.Sex).MALE ? '남자':'여자'}"></label>
				</div>
			</div>
			<div id="caregiver">
				연락처 (보호자)
				<input type="number" name="caregiver">
			</div>

			<input type="submit" value="회원가입" >
		</form>
	</div>

</body>
</html>
